[2014-09-08 21:24] Bridn opened #4 "CHAR type is not available with Phinx"
Phinx is not able to create a CHAR(36) type column.

For example this migration creates a primary key as VARCHAR(36) type field, this is not supported as UUID key :

[code]

I have to manually change it.

[Phinx doc - valid-column-types](http://phinx.readthedocs.org/en/latest/migrations.html#valid-column-types)

[2014-09-08 22:05] #4 closed, assigned to nobody

[2014-09-24 13:20] Suven opened #6 "cake bake all fails on table phinxlogs"
Hi,

when using this plugin `bin/cake bake view all --force` does not work anymore.

It seems that temporary tables seem to be the problem:

[code]

[2014-09-24 20:41] real34 opened #7 "Impossible to use with Sqlite adapter when not in memory"
It seems to be impossible to run migrations on a Sqlite database not ran in memory because Phinx always adds a suffix to the database path, and Cake doesn't.

Also in this case there are a few undefined indexes

# To reproduce

Create a datasource:
[code]

Generate a migration like the following one:

[code]

# What happens

* There are a few undefined indexes such as "login", "host", "password" w

[2014-10-09 20:39] #6 closed, assigned to nobody

[2014-10-15 19:50] burzum opened #9 "Errors when trying to run (plugin) migration"
Please see this screenshot:

https://www.dropbox.com/s/7dop4q5dbur2eo0/Screenshot%202014-10-15%2021.49.13.png?dl=0

First I  run the migrations and the DB table it uses for the schema doesn't exist. It shows a SQL error but the table is created any way. **Edit:** This has been fixed by https://github.com/burzum/migrations-1/commit/ba462266496374a9b42ff7789ce61e4669c181fe

The PR fixes the first is

[2014-10-17 15:21] TamiasSibiricus opened #11 "Migrations Events"
Just idea.
How about  to use before and after events in migrate and rollback actions.
For example:
After migration process i need to drop orm cahe. But sometimes other coders or me can forget to do this.
I think in this case event can drop cache after each migration process.

[2014-10-21 13:52] CauanCabral opened #12 "Possible error in Usage readme instructions"
At **Usage** section, we have instruction to execute in console:

`bin/cake migrations`

But, at least for me (in different environments), the correct command is:

`bin/cake Migrations.migrations`

When I run the first one, the output is:

[2014-10-22 20:12] #12 closed, assigned to nobody

[2014-10-24 16:47] #11 closed, assigned to nobody

[2014-10-28 08:15] simkimsia opened #14 "I noticed that the 3.x migrations uses sphinx. May I ask the rationale behind choosing sphinx?"
I enjoyed using the migrations for Cake 2.x

Sorry to see that the migrations for Cake 3.x is still at pre alpha.

Was surfing this when I realized the two outstanding issues have to do with sphinx. May I ask the rationale behind choosing sphinx?

[2014-10-28 08:25] #14 closed, assigned to nobody

[2014-10-29 11:17] TamiasSibiricus opened #19 "Data seeding shell"
Just another idea.
How about to implement data seeding shell for this plugin.
Data can be stored in /config/Data in app or plugin folder.
I think all data must be in actual state for last migration.
Data seeding process cna't start if migration is not complete.
What do you think?

[2014-11-07 16:06] lucatrev opened #22 "Migrations on more than one database"
I'm trying to find a way to use migrations plugin to _migrate_ more than one database, but i cannot find anything about here and in phinx documentation.

In my plugin i have one folder `config/Migrations` and works ok with a single `default` database. I'm also able to apply migrations on a different db using connection option. The problem is that i want to use two different migration subset for ea

[2014-12-03 00:00] #22 closed, assigned to nobody

[2014-12-04 12:01] johannesnagl opened #29 "'unsigned' is not a valid column option."
I have a mysql 5.6 database with some bigint fields (for storing facebook/google+ ids). when baking my default schema (with `php cake.php bake migration Initial -c default`)

the following code is created:

[code]

when running the migration with `php cake.php migrations migrate` the migration throws an error:

[code]

according to http://docs.phinx.org/en/latest/migrations.html#valid-column-optio

[2014-12-04 12:20] johannesnagl opened #30 "SQLSTATE[42S21]: Column already exists: 1060 Duplicate column name 'id'"
I have a mysql 5.6 database with some bigint fields (also for storing internal ids). when baking my default schema (with php cake.php bake migration Initial -c default)

the following code is created:

[code]

when running the migration with php cake.php migrations migrate the migration throws an error:

[code]

bake is trying to create a "id" field on his own, although phinx has already created t

[2014-12-04 13:10] #30 closed, assigned to nobody

[2014-12-10 02:56] #29 closed, assigned to markstory

[2014-12-15 14:53] burzum opened #37 "Feature or question: Running migrations via php (not a shell)?"
Is it already possible to simply run existing migrations via php?

I'm working on an installer like shell and would like to run migrations from there, I have something like

[code]

in mind. Without the need to lookup and load the migration files manually.

[2014-12-16 19:57] josegonzalez opened #39 "PHPCS runs against non-plugin code"
We should ignore dependencies etc, and it seems that the PHPCS is being run against stuff like bake...

[2014-12-17 12:04] #39 closed, assigned to nobody

[2014-12-21 02:13] ghost opened #41 "Task class Template could not be found."
I am introducing the migrations plugin for the first time and hit the following exception.
Tracing the commit, you are changing the Templates and Tasks, I report the error. I hope this is the right place.

Environment: CentOS 6.5 over vagrant

[code]

[2014-12-25 03:42] #41 closed, assigned to markstory

[2015-01-16 23:21] pjosephson opened #43 "Must use create or update when using change()"
The current template (migration.ctp) is using a save() call. Which makes reversing not possible.  Phinx documentation states:

When creating or updating tables inside a change() method you must use the Table create() and update() methods. Phinx cannot automatically determine whether a save() call is creating a new table or modifying an existing one.

[2015-01-17 00:23] pjosephson opened #44 "unsigned not a vaild column"
"unsigned" is not a valid value for use with the table.  You must use "signed" => false/true with phinx

[2015-01-17 00:31] pjosephson opened #45 "id automatically created forcing column already exists."
As you can tell I have been playing with the Migrations plugin today.  Phinx by default creates an id as the primary unless overridden in the table function.
For example: $this->table('users', ['id' => false, 'primary_key' => ['user_id']]);

The current cake bake migration command will make an id column in the migration file causing an 'Column already exists' when using the migration file  because

[2015-01-17 02:20] markstory commented on #44
I am pretty sure this was fixed. Have you tried updating to the most recent commits?

[2015-01-17 02:32] dereuromark commented on #44
I wonder what that https://github.com/cakephp/migrations/tree/migration-generation branch is, but it is 29 commits ahead of master.

[2015-01-17 02:46] markstory commented on #44
@dereuromark You're right I'm thinking of the changes in #34 which @josegonzalez is sitting on.

[2015-01-17 18:56] josegonzalez commented on #44
Sorry, I'll finish off my pr this weekend :)

[2015-01-26 09:41] daniel-lang opened #49 "Update robmorgan/phinx"
I tried to update the phinx versionof this plugin with composer  but it stays at 0.3.5 (current version is 0.4.1). I found the version in the MigrationsShell:49
(`define('PHINX_VERSION', (0 === strpos('@PHINX_VERSION@', '@PHINX_VERSION')) ? '0.3.5' : '@PHINX_VERSION@');`)

Is there a easy way to update the plugin?

[2015-01-26 15:22] markstory commented on #49
The [composer dependency]() is tracking `dev-master`. https://github.com/cakephp/migrations/blob/master/composer.json#L26. To update the printed version a pull request will be sufficient.

[2015-01-31 04:01] simkimsia commented on #44
following because I have the same issue as well

[2015-02-05 10:34] #49 closed

[2015-02-05 10:38] daniel-lang opened #51 "Shell Options"
When running `bin/cake migrations` a list of options is printed like `--no-ansi` that don't seem to work. Is this a problem with Cakes Shell or with the MigrationsShell?

Either way, it is quiet confusion to get an error saying that the option "no-ansi" is unknown and another list of options is presented

[2015-02-05 15:59] #51 closed

[2015-02-09 00:12] Ekyz opened #53 "InvalidArgumentException: The "template" option does not exist."
Hi guys,

I have a problem with the new cakephp 3 migrations plugin.

I am getting this error:
[InvalidArgumentException]
  The "template" option does not exist.

After executing this in the project root dir on command line:
bin/cake migrations create Initial

[2015-02-09 00:39] AD7six commented on #53
That's a problem of version mis-match - what version of bake, cakephp and migrations are you using?

The template option was renamed theme [a long time ago](https://github.com/cakephp/cakephp/pull/5124/files#diff-6d80ca9deffb52c228835f7a4ec10a93L244), nothing should be trying to use `template`.

[2015-02-09 02:32] nntgwww commented on #53
I have this problem too. i also clone the newest plugin right now. I'm using cake php RC-2

[2015-02-09 08:04] Ekyz commented on #53
I am using Cake 3.0 RC-1 and latest migrations files

[2015-02-09 08:29] segy commented on #53
Hello. The same problem here. I have the latest cakephp and migrations plugin
cakephp/cakephp (3.0.x-dev 2da74bd)
cakephp/migrations (dev-master 0acd5ac)

[2015-02-09 08:56] AD7six commented on #53
Can any of you please say what version of **bake** you are using?

[2015-02-09 09:03] AD7six commented on #53
nvm - it's reproducible.

Note however that `bin/cake bake migration Initial` is how you'd _normally_ generate your first populated migration file

[code]

[2015-02-09 10:36] segy commented on #53
thanks. `bin/cake bake migration` works. can you please explain, if the bake or migrations console should be used to create migrations?

[2015-02-09 10:41] AD7six commented on #53
[They do](https://github.com/cakephp/migrations#create-a-migration-file-with-tables-from-your-database) [different things](https://github.com/cakephp/migrations#create-an-empty-migration-file), so at the moment, you'd use bake for the first one, and then `bin/cake migrations create` thereafter - probably. Depends on your workflow though.

[2015-02-09 16:32] brabeji commented on #53
Hello, the problem seems to be following:

`configure()` in `/Command/Create.php` is not calling `parent::configure()` so changes in underlying `phinx` library are not taken into account, namely addition of "template" option which is the problem in this case.

IMO `parent::configure()` should be called and conflicting `addOption()` calls removed since those are set by `phinx`. This seems to fix im

[2015-02-09 20:30] CauanCabral commented on #53
Migrations plugin will follow the CakePHP standard (theme) or Phinx's (template) for that option? Maybe both?

The  Phinx related change are here (I think): https://github.com/robmorgan/phinx/commit/40adf0748e0f258b19bfdc21c205d105c42903ab

But only today I found that issue.

[2015-02-10 02:54] #53 closed

[2015-02-14 16:49] burzum opened #54 "Migration looking in the wrong folder for namespaced plugin."
I've tried to run migrations for my FileStorage plugin and got this message:

[code]

The plugin is in fact in /plugins/Burzum/FileStorage/ and loaded fine from there from the application itself.

[2015-02-14 18:57] burzum commented on #54
Fixed it by updating my plugins composer.json

[2015-02-14 18:57] #54 closed

[2015-02-24 00:36] josegonzalez commented on #44
This is fixed in master now. Closing.

[2015-02-24 00:36] #44 closed

[2015-02-24 00:37] josegonzalez commented on #7
Fixed upstream by https://github.com/robmorgan/phinx/pull/392 :)

[2015-02-24 00:37] #7 closed

[2015-03-06 03:11] zoghal opened #58 "how can Create an Initial Migration from an Existing Database?"
i need to  Create an Initial Migration from an Existing Database. Is it possible now?

[2015-03-06 07:15] zoghal commented on #58
yes , you can with this command : cake bake migration_snapshot Init :smiling_imp:

[2015-03-06 07:15] #58 closed

[2015-03-12 09:24] dakota commented on #45
I believe this has been addressed with previous PRs, including #55

[2015-03-12 09:24] #45 closed

[2015-03-20 11:32] burzum opened #61 "Decouple ConfigurationTrait from the shell?"
I'm trying to re-use the migrations plugin inside an installer event so that the user can activate a plugin through a web interface and the app will run the migrations after that.

When I started I figured out that I can't really re-use the ConfigurationTrait because it depends on `$this->input` being available. But this will effectively couple the trait to a shell.

[2015-03-20 14:56] josegonzalez commented on #61
You could mock out $this->input?

[2015-03-23 14:40] markstory opened #62 "Exception when applying a baked migration snapshot"
_From @mamchenkov on March 23, 2015 10:29_

Steps to reproduce
-------------------------

[code]

Expected result
----------------------

Any baked migration should be usable.  In this case, a table should be correctly created and no exception should be triggered.

Actual result
-----------------

An exception is triggered, no table created:

[code]

Additional Notes
---------------------
* If I u

[2015-03-23 14:40] markstory commented on #62
_From @AD7six on March 23, 2015 10:39_

Please show the migration file.

What is the type of the id field _after_ the attempted migration? The error message says it's blob/text, not binary.

[2015-03-23 14:40] markstory commented on #62
_From @mamchenkov on March 23, 2015 10:43_

@AD7six the migration file has ```binary```.  Here it is:

[code]

[2015-03-23 14:40] markstory commented on #62
_From @mamchenkov on March 23, 2015 10:44_

There is no table at all after the migration.  I'm assuming that's because migration fails and Phinx rolls back the creation of the table.

[2015-03-23 14:40] markstory commented on #62
_From @AD7six on March 23, 2015 10:58_

If I use that migration but a different field name (so it succeeds) I get this table:

[code]

So it's not understood by phinx (the problem is the field type not "applying a baked migration snapshot")

[2015-03-23 14:40] markstory commented on #62
_From @dakota on March 23, 2015 11:7_

Phinx currently only understands `char(36)` for uuid columns (If you set the column type to `uuid`). This sounds like a Phinx bug to me.

[2015-03-23 14:40] markstory commented on #62
_From @mamchenkov on March 23, 2015 11:15_

Technically, yes, it's probably Phinx.  However, user-wise it's still CakePHP. :smiling_imp: .

[2015-03-23 14:40] markstory commented on #62
_From @dereuromark on March 23, 2015 11:18_

If that doesn't work, sure sounds like a phinx issue then.

By the way:
Binary should definitely be the (documented) default over char(36) (it currently is still not, uuid will create char36.. http://book.cakephp.org/3.0/en/migrations.html#creating-custom-primary-keys ).
We should really change this and make this more clear IMO why binary would be the b

[2015-03-23 14:40] markstory commented on #62
_From @AD7six on March 23, 2015 11:20_

@mamchenkov sure - but for phinx/rob to fix it, it needs to know about the problem.

@dereuromark dunno about that, since we know for sure it currently won't work.

Related https://github.com/robmorgan/phinx/issues/85

[2015-03-23 14:40] markstory commented on #62
_From @dereuromark on March 23, 2015 11:22_

Afterwards - as soon as we know it works (again) - I would really like to point out the more sane default value (regarding performance there is a huge difference).

Related: http://iops.io/blog/storing-billions-uuid-fields-mysql-innodb/ etc

[2015-03-23 14:52] josegonzalez commented on #62
Phinx autogenerates an `id` field, which may be causing issues here.

[2015-03-23 14:57] AD7six commented on #62
@josegonzalez  nah - the options override it:

    $table = $this->table('foo', ['id' => false, 'primary_key' => ['id']]);
                                  ^ No automatic autoinc primary key

[2015-03-24 09:56] Spriz opened #63 "Collations in database"
Hi!

Maybe it's just me, but I can't figure how to explicitly set a collation when creating tables or adding columns. Is it just choosing the database default?

Accoring to the phinx documentation at http://docs.phinx.org/en/latest/configuration.html?highlight=collation I should be able to set it in the configuration, but I don't see it in the vendor/cakephp/migrations/src/ConfigurationTrait.php.

[2015-03-29 14:16] kevinliteon opened #64 "Table not generated with Sqlite and an id:uuid"
It seems that the table is not created with an id uuid and Sqlite.
for example:

[code]
[code]

[2015-03-29 15:02] lorenzo commented on #64
How did the generated file look like?

[2015-03-29 15:07] dakota commented on #64
I don't think phinx supports uuid for sqlite at the moment.

[2015-03-29 15:10] kevinliteon commented on #64
@lorenzo

[code]

[2015-03-29 15:55] lorenzo commented on #64
The problem is that the generated file should override the automatic id generated by phinx. Labeling as a bug.

[2015-03-29 15:56] lorenzo commented on #64
In the meantime read this to fix your problem: https://github.com/cakephp/migrations#usage-for-custom-primary-key-id-in-tables

[2015-03-29 16:00] kevinliteon commented on #64
@lorenzo :+1: thank you

[2015-03-30 01:53] markstory commented on #64
SQLite doesn't support UUID either. It ends up using a CHAR column instead.

[2015-04-02 11:31] HavokInspiration opened #65 "Unexpected behavior after snapshot"
I don't really know if it can be considered a bug or not, but I encountered an unexpected behavior while using migrations.

I took over a project that already had a database with tables inside it. Migrations were not used. When I took over I decided to start using migrations.
With the help of bake, I made a snapshot of the current state of the database.
I needed a new column in a table so I baked

[2015-04-02 13:45] lorenzo commented on #65
I would say this is a bug. Would you like to help us fix it?

[2015-04-02 17:07] HavokInspiration commented on #65
Yes, I can give it a try.
Just have to find my way through the internals of the plugin.
I'll ask for help if I get lost.

[2015-04-02 17:10] AD7six commented on #65
Phinx doesn't have a command to say "mark this migration applied" - which to me is an omission; you'll need to execute:

    insert into phinxlog values('the id', now(), now());

For phinx to think the newly-created migration has already been applied.

Maybe useful, for more drastic versions of that problem: https://gist.github.com/AD7six/0afcf0f206b13a877fab

[2015-04-02 17:17] dereuromark commented on #65
A trick would be to have a conditional check in there and do not run the queries if a table exists that would have been there on the first "init" migration.

[2015-04-02 17:35] HavokInspiration commented on #65
Thanks for the tip about phinx @AD7six.
Executing the raw query was actually the thing I had in mind as a last resort.
I guess you bought me some time.

[2015-04-02 17:39] AD7six commented on #65
@dereuromark true, but that breaks reversible migration files (i.e. the change method - which a snapshot doesn't use, but should).

[2015-04-03 11:29] HavokInspiration commented on #65
I started working on this yesterday night and here is where I'm going.
Before marking the migration as applied, I want to make sure the migration file is correctly written, hence I have to wait for the file creation to be done and successful.
So my idea is to override the ``createFile`` method of the ``MigrationSnapshotTask`` (being a sub-sub-sub[...] class of ``Shell``) and build something like t

[2015-04-03 21:49] HavokInspiration commented on #65
I started on this but I decided to create a ``mark_migrated`` command that I will try to call after the file was saved.
While cleaner, it might also prove useful to have such a command.

[2015-04-07 14:36] urulab opened #66 "Undefined class constant CREATION_INTERFACE"
On CakePHP 3.0.1 over PHP 5.6.7, I encountered an unexpected error while using migrations:

% bin/cake migrations migrate

Welcome to CakePHP v3.0.1 Console
App : src
Path: /usr/home/cms/src/

PHP Fatal error:  Undefined class constant 'CREATION_INTERFACE' in /usr/home/cms/vendor/cakephp/migrations/src/Command/Create.php on line 45

NOTE: CREATION_INTERFACE is missing

[2015-04-08 08:14] ceeram commented on #66
The constant was added in phinx 0.4.2, while we require ~0.4 so you might have an earlier 0.4.x version
We should raise the minimum requirement in composer.json
@urulab can you check what phinx version you have installed?

[2015-04-08 12:45] urulab commented on #66
I use the composer.json from app repository https://github.com/cakephp/app/blob/master/composer.json
I erase all vendor directory and install the dependencies with the same error message

[2015-04-08 12:49] ceeram commented on #66
@urulab using composer install or update? when using install, it will use the same version you already had in your composer.lock file.
Can you run composer update command and see if the error still persists?

[2015-04-08 13:21] urulab commented on #66
after performing the updade, the CREATION_INTERFACE constant still missing.
My code has:
[code]

And github has:
[code]

[2015-04-08 13:38] ceeram commented on #66
@urulab for some reason you do not have a correct phinx version.
Could you gist the composer.json of your application?
Also you could perhaps drop by on irc to get support in troubleshooting this.
#cakephp channel on irc.freenode.net

[2015-04-08 13:43] urulab commented on #66
I've solved commenting on the call of the constant.
This is my composer.json the same as cakephp/app repo.

[code]

[2015-04-08 13:49] ceeram commented on #66
Your solution wont last when you run composer update again after migrations
gets a new release. It will wipe out your existing migrations plugin and
replace it with a new version.
Op 8 apr. 2015 15:43 schreef "urulab" <notifications@github.com>:

[2015-04-08 14:07] urulab commented on #66
Indeed is a rapid and very limited workaround. I've created a new app and the situation is the same.
[code]

[2015-04-08 14:43] ceeram commented on #66
Just created a fresh application. Composer installed phinx 0.4.3 for me and migration commands work fine for me.

[code]

[2015-04-08 14:55] ceeram commented on #66
Pull request open to fix minimum requirement #67

[2015-04-08 15:47] urulab commented on #66
I've locate and clear the composer cache, then perform update again and this message appear:

[code]

[2015-04-08 16:35] antograssiot commented on #66
@urulab this version constraint is for robmorgan/phinx not for cakephp/migrations

[2015-04-09 07:03] ceeram commented on #66
My bad, composer already documents support for caret operator but has not
yet included caret support in a release. Once alpha10 comes out it will, i
will update composer.json to use the long syntax.

2015-04-08 18:35 GMT+02:00 Anto <notifications@github.com>:

[2015-04-09 07:10] ceeram commented on #66
Fixed caret operator in https://github.com/cakephp/migrations/commit/2b1c42ef15825009bcb291e8a9447a7e185735b2

[2015-04-09 11:33] urulab commented on #66
I receive this message after applying updates

[code]

[2015-04-09 11:42] ceeram commented on #66
Just tested create-project command and it does not have issues parsing the versions, perhaps you can run composer self-update?

[code]

[2015-04-09 12:02] urulab commented on #66
All works fine now!!!
I previously used the version of composer installed by package in FreeBSD

[2015-04-09 12:02] #66 closed

[2015-04-09 12:03] ceeram commented on #66
Ok thanks for confirming.

[2015-04-09 17:11] mbryja opened #69 "The datasource configuration "default" was not found."
I'm building multisite application with cakephp 3. I won't use default connection because each of the site will connect to it's own version of database. The database structure will be identical for each site. I want to use cakephp migration to automate create and alter processes.

I've created my own shell which executes 'bin/cake migrations migrate -c connection_name' command on each connection i

[2015-04-09 17:22] lorenzo commented on #69
You need to use the `--connection` option to change the connection you want to use if not default

[2015-04-09 17:41] mbryja commented on #69
Current bootstrap always use default:

    public function bootstrap(InputInterface $input, OutputInterface $output)
    {
        parent::bootstrap($input, $output);
        $connection = $this->getManager()->getEnvironment('default')->getAdapter()->getConnection();
        ConnectionManager::get('default')->driver()->connection($connection);
    }

[2015-04-09 17:51] lorenzo commented on #69
And that is what we want... If you want something that is not `default` then you need to use `--connection other_connection`

[2015-04-09 17:53] mbryja commented on #69
I execute the following command 'bin/cake migrations migrate -c connection_name'. In my app I don't use default at all for security reason so above code will not work.

[2015-04-09 17:56] lorenzo commented on #69
So, when you execute `bin/cake migrations migrate -c connection_name` you get the exception?

[2015-04-09 17:56] mbryja commented on #69
yes

[2015-04-09 18:00] mbryja commented on #69
and as I've mentioned the error is thrown in src/ConfigurationTrait at line 173

[2015-04-09 18:01] lorenzo commented on #69
Thanks, sorry for the misunderstanding

[2015-04-09 18:57] #69 closed

[2015-04-09 19:41] mbryja commented on #69
looks good, thank you

[2015-04-10 18:27] Tijme opened #71 "Required robmorgan/phinx cannot be loaded"
When running a fresh install of CakePHP3 I get the following error.

[RuntimeException]
Could not load package cakephp/migrations in http://packagist.org: [UnexpectedValueException] Could not parse version constraint >=0.4.2 <1.0: Invalid version string "0.4.2 <1.0"

cakephp/migrations requires robmorgan/phinx, but the version string is incorrect (well, at least thats what the error says).

I am r

[2015-04-10 19:33] ceeram commented on #71
run composer self-update to solve this

2015-04-10 20:27 GMT+02:00 Tijme <notifications@github.com>:

[2015-04-10 19:39] Tijme commented on #71
Hi @ceeram,

After composer self-update, composer still tells me the package robmorgan/phinx could not be found.

**Full composer message:**
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for cakephp/migrations dev-master -> satisf

[2015-04-11 09:30] ceeram commented on #71
@Tijme a fresh install would not require dev-master of migrations:
https://github.com/cakephp/app/blob/master/composer.json#L11

migrations 1.0.2 does indeed require phinx 0.4.2 because of this https://github.com/cakephp/migrations/issues/66

I cannot reproduce the error you get on a fresh install, also demonstrated here: https://github.com/cakephp/migrations/issues/66#issuecomment-91204796

[2015-04-11 11:03] Tijme commented on #71
@ceeram I tried dev-master because 1.0 didn't work. I tried 1.0 again today (which was also required with the fresh install), and now it seems to work. Don't know if it's my fault, or just some crazy bug.

Anyway, thanks for the help!

[2015-04-11 13:30] #71 closed

[2015-04-15 21:24] kevinquinnyo opened #74 "Adding an index produces strange result"
Steps to Reproduce:

Create a table with bake, then try to add an index with bake:

[code]

Results in generated code:

[code]

Notice the first argument to `addIndex()` is `["'status_id',"]` .   What am I missing here?  Is my syntax incorrect?

[code]

Is this a problem with the migrations plugin or does it look like an issue with Phinx?

[2015-04-16 11:56] urulab opened #75 "Exception on seed data in table with composite PK"
After run "migrations migrate" from shell:
[code]
My migration:

[code]
NOTE: Articles/Tags has a record with id 1.

[2015-04-17 07:11] lorenzo commented on #75
Either use `$articleTag = $articlesTags->newEntity(); $articleTag->set($data, ['guard' => false]);` or pass `accessibleFields` to the `newEntity` method.

You can read about "Mass assignment" in the book. :)

[2015-04-17 07:11] #75 closed

[2015-04-18 09:36] #74 closed

[2015-04-18 09:37] #65 closed

[2015-04-21 12:32] burzum opened #78 "Configurable migrations"
When using plugins there is sometimes the problem that you want to use UUIDs but the plugin has integer type ids and vice versa.

By looking at the migrations they extend the AbstractMigration class, we could add a CakeMigration class from which all migrations extend instead from AbstractMigration directly. That implements an initialize() method where settings from Configure could be read and used

[2015-04-26 01:53] markstory opened #80 "Baked snapshot don't include constraints"
When generating a snapshot migration constraints are dropped. Given the following schema, I would have expected that the generated snapshot would have constraints:

[code]

[2015-04-28 17:47] HavokInspiration commented on #43
I don't know if this issue is (still) valid.
When generating migrations files with ``bake``, the method to use is dynamically generated with the ``MigrationHelper::tableMethod()``, whether it is a snapshot or a "regular" migration :

- https://github.com/cakephp/migrations/blob/master/src/Template/Bake/config/snapshot.ctp#L17
- https://github.com/cakephp/migrations/blob/master/src/Template/Bake/co

[2015-04-29 01:51] markstory commented on #43
Closing then :smile:

[2015-04-29 01:51] #43 closed

[2015-05-02 13:05] hypnoboutique opened #81 "Mulitple Simultaneous Database Connections are Not Supported?"
I am working on an existing CakePHP 3.0 application which necessarily uses multiple databases.

We have had some problematic rollouts and I want to introduce migrations to improve our recovery speed with db rollbacks, so I need to write migrations that implicitly target the correct datasource connection.

The option seems to have been considered with 'bake migrate [...] -c' but the resulting migra

[2015-05-02 13:26] lorenzo commented on #81
That s tool was not thought for maintaining different connections with different schemas. If you want different schemas for different connections  I would suggest having different directories for each one.

In mi view, rolling back to a police my in time is usually more a development task than something that you would do on a live system, so I think the extra work is not mucho of a tragedy. A way

[2015-05-02 13:26] #81 closed

[2015-05-03 11:34] Maxwellewxam opened #82 "Format option implementation"
Phinx has an option to output the result of status command in json: format.
This option isn't recognized by the plugin:
[code]
Here the format option is present but when I type
[code]

[2015-05-11 08:50] dremi opened #83 "Migration Seed for Postgres driver was get PDO Error (There is no active transaction for seed data)"
I'm trying to create seed data from CakePHP 3 migration file, with Postgres as database driver. But i have got error message under console after run:

[code]

![PDOException: There is no active transaction](http://i846.photobucket.com/albums/ab22/dremiINFO/Screenshot%20from%202015%2005%2011%2015%2002%2043.png)

Here are my code:

[code]

If i use mysql as database driver, its working good.

Someon

[2015-05-13 09:29] GuidoHendriks opened #84 "Foreign keys in baked migrations"
When baking a migration for a table containing foreign keys, the foreign keys don't end up in the migrations file. Seems like I'll have to add them manually for now, this would be a really good feature to have in `bake`.

[2015-05-13 09:43] HavokInspiration commented on #84
Related to #80
I started working on this yesterday night and I have something working for single column FK.
It needs more work to support multiple columns and it also needs tests.

[2015-05-13 19:56] markstory commented on #84
Dupe of #80

[2015-05-13 19:56] #84 closed

[2015-05-15 22:59] HavokInspiration commented on #63
You are right, it is currently not possible to define collation.
From what I gathered in Phinx source, collation should be the default one defined in the database, except for MySQL, where ``utf8_general_ci`` is the default one if none is provided ((link to source)[https://github.com/robmorgan/phinx/blob/0.4.x-dev/src/Phinx/Db/Adapter/MysqlAdapter.php#L199])

One solution could be to have a new opt

[2015-05-16 01:13] markstory commented on #80
Closing as there is a pull request up now.

[2015-05-16 01:13] #80 closed

[2015-05-17 12:13] Spriz commented on #63
Would be awesome with a `Configure` - but both opportunities would do the job for us! :+1:

Could it really be true we're the only users with this problem?

[2015-05-20 17:02] dereuromark commented on #78
Sounds like a good idea regarding those keys.

[2015-05-20 17:03] dereuromark commented on #82
@Maxwellewxam Are you able to make a PR with the suggested change?

[2015-05-23 00:05] HavokInspiration commented on #63
I started taking a look at this and to be honest, I don't really know what is the purpose of the collation key in the environment configuration. I didn't find a use of it in Phinx source code.
It seems to have no effect when running migrations.
(Maybe I overlooked, but the only reference to collation is made from the code sample below).
The only way I found to apply a specific collation when creat

[2015-05-23 04:29] antograssiot commented on #82
Closing as PR #87 is open now

[2015-05-23 04:29] #82 closed

[2015-05-23 19:10] jmacedo commented on #30
I like the auto id feature. I only think that it should create it as unsigned. Because of this, I have to set auto id to false and create all id columns in all tables (we use this like an internal database pattern) .

[2015-05-27 17:31] HavokInspiration commented on #83
As far as I'm concerned, I tried your code and had the same problem.
Out of curiosity, I executed this (the ``up()`` method) in the app just at the end of the bootstrap.php file and it worked well.

So I dug further and I was able to make the migration work by passing the ``atomic`` option of the ``save()`` method to ``false`` :

[code]

This turns transaction off and avoid the exception to be rai

[2015-05-27 18:53] HavokInspiration commented on #83
Apparently, Phinx starts a transaction by itself when migrating [(see source)](https://github.com/robmorgan/phinx/blob/0.4.x-dev/src/Phinx/Migration/Manager/Environment.php#L95-L97).

Maybe that's what causing a problem here.
I'll take a deeper look when I get the chance. Maybe there is something that can be done to prevent this. But I'm sceptical since it works well with MySQL...

Meanwhile, the

[2015-05-28 18:45] kevinquinnyo opened #88 "bake migration_snapshot not working with --connection option anymore?"
I built out migration snapshots for all of our plugins for an application were building a few weeks ago no problem.  Recently we refactored one of them so much that I'm trying to build a new initial migration for it based on a snapshot.

The following command is no longer working.  Example uses a plugin called 'Inventory' with connection 'inventory':

[code]

I get the following:

[code]

So it's

[2015-05-28 20:23] HavokInspiration commented on #88
I checked it out and it seems to be something I introduced when implementing the mark_migrated feature (meaning that baked snapshot will be automatically mark as migrated).
I'll try to fix this.

[2015-05-28 21:08] HavokInspiration commented on #88
Pull request #89 opened.
Thanks for reporting this.

[2015-05-28 21:26] #88 closed

[2015-06-01 19:58] HavokInspiration commented on #83
There is definitely something going on here.
I don't quite understand it though.

If I define two connections ``default`` and ``postgres`` with the same credentials for the Postgres driver and do :

``bin/cake migrations migrate``

I get the exception.
But if I do

``bin/cake migrations migrate -c postgres``

The exception is not raise and the migration is correctly migrated.
And finally if I do

[2015-06-01 20:47] HavokInspiration commented on #83
I think I figured it out.
After some poking around, I found out that phinx starts transactions with raw SQL statement (like ``BEGIN`` or ``START TRANSACTION``).
However, it does not use the ``PDO::beginTransaction()`` method which is causing the problem here I think.
If, I change [this method](https://github.com/robmorgan/phinx/blob/0.4.x-dev/src/Phinx/Db/Adapter/PostgresAdapter.php#L100-L103) to

[2015-06-01 21:18] josegonzalez commented on #83
So make a pr for it in sphinx?

[2015-06-02 06:43] HavokInspiration commented on #83
@josegonzalez That is the plan. I just have to do extensive testing beforehand (and find time to do it).

[2015-06-03 17:39] kevinquinnyo opened #90 "Latest release tags are missing bug fix for migration_snapshot"
PR #89 fixes a bug that was causing `migration_snapshot` option to not work when invoked from `bake` when you also supplied `--connection` and `--plugin`.

Anyway, if you use the newest release tag for migrations, that bug fix isn't backported, so `migration_snapshot` fails when using the `--connection` and `--plugin` options.

If you use `master` the bug is fixed, but it generates a boilerplate m

[2015-06-03 17:57] markstory commented on #90
I can tag a release tonight.

[2015-06-03 18:30] kevinquinnyo commented on #90
@markstory You rock!

[2015-06-04 01:37] markstory commented on #90
1.1.1 released now.

[2015-06-04 01:37] #90 closed

[2015-06-04 02:24] kevinquinnyo commented on #90
:+1:  Boom!  Thanks again @markstory You cakephp folks are awesome.

[2015-06-05 03:45] dremi commented on #83
Hi HavokInspiration,

I have try to use

[code]

![Bin Cake Console Migrations migrate](http://i846.photobucket.com/albums/ab22/dremiINFO/Screenshot%20from%202015%2006%2005%2010%2037%2051.png)

![migrate seed result](http://i846.photobucket.com/albums/ab22/dremiINFO/Screenshot%20from%202015%2006%2005%2010%2037%2055.png)

So far, its working now. I hope i can get the latest fix updated on newest re

[2015-06-05 07:26] HavokInspiration commented on #83
@dremi I started working on a fix for phinx yesterday night. I still need to do some tests.
Hopefully I'll be able to submit it tonight.

[2015-06-05 08:42] dremi commented on #83
Hi HavokInspiration,

Thanks for your update.

[2015-06-05 21:13] HavokInspiration commented on #83
I gave this another round and I think there is nothing to actually fix.
Here's what is really going on :

[code]

And the problem is the other way around if the code base from phinx is left as is.
I have the same problem if phinx deals with transaction with ``PDO`` methods rather than with raw queries with MySQL this time. Except that data is saved in the database and the migration failed right af

[2015-06-05 21:25] lorenzo commented on #83
I can take a look at this @HavokInspiration

[2015-06-06 00:49] markstory commented on #83
Closing as there is a pull request now.

[2015-06-06 00:49] #83 closed

[2015-06-15 11:05] HavokInspiration commented on #37
If I understand this correctly, you want to be able to run migrations from a "classic" app ?
From a Controller for instance ?

Is this issue linked to #61 ?

[2015-06-15 11:07] burzum commented on #37
@HavokInspiration correct.

[2015-06-15 19:22] HavokInspiration commented on #37
Ok. I'll give it a try to see if that's possible.

[2015-06-21 18:41] HavokInspiration commented on #37
I gave this a try and it seems to be possible.

I was able to run the "status" command in a controller.
However, the output is not really nice as it is strictly what the console would return :

[code]

[2015-06-23 11:30] burzum commented on #37
@HavokInspiration I think this is something that should be fixed in Phinx because AFAIR this is returned from Phinx and not the CakePHP plugin. Also see this issue https://github.com/robmorgan/phinx/issues/534

[2015-06-23 11:50] HavokInspiration commented on #37
Yes, that is what Phinx returns when you call the ``status`` command. The CakePHP plugin does not return anything expect for the MarkMigrated command since we implemented it.

In my POC, instead of using the default console output, I use the ``BufferedOutput`` which, as its name states, buffers the output. I returned it as well as the shell app exit code (which is not shown in my debug in my previ

[2015-06-23 12:13] burzum commented on #37
I agree with the overall goal with you but not with the implementation.

But I wouldn't try to work with the exit code of a shell inside an app. That's why I would prefer meaningful return values or exceptions from the methods.

[code]

Or instead of the getLastError throw an exception and return always true (or nothing at all).

The same code should be used within an app and the shell IMHO, the s

[2015-06-23 17:16] lorenzo commented on #37
@HavokInspiration What about using the json output for generating whatever type for message at the end?

[2015-06-23 20:00] HavokInspiration commented on #37
@lorenzo The json output for the status command is what you can preview from one of my previous post. It actually adds a json output after displaying the normal output (yeah, I don't really understand why). [See ref in phinx source](https://github.com/robmorgan/phinx/blob/0.4.x-dev/src/Phinx/Migration/Manager.php#L76-L130)
And I think that only the status command has a json output.

@burzum Yeah,

[2015-06-24 19:57] HavokInspiration commented on #63
Right now there is nothing that can be done.
phinx support for collations is pretty limited.

I opened #92 to document the only way of having different collation than the database default.

[2015-06-30 14:46] HavokInspiration commented on #37
I worked on this a bit more and I was able to produce something better.

I introduced a ``CakeManager`` that aims to change the behavior of this part of phinx.
Our manager will now only be responsible for returning necessary values.
I delegated the output to the ``Command`` classes.

On top of that, I provide a ``Migrations`` class that gives the ability to run phinx command from within an app (by

[2015-07-06 08:22] burzum commented on #37
@HavokInspiration any progress on this we could review / test? :)

[2015-07-06 10:50] HavokInspiration commented on #37
I started writing tests this week-end, so I'm correcting bugs and adding enhancements.
Nothing stable enough to show right now though.
But I'm working on it.

[2015-07-16 17:45] lacalan opened #99 "Missing ssl paramaters"
When using ssl_ca parameters in default db configuration for cakephp, migrations doesn't pass those parameters to Phinx. This results in a error:
[code]
Example Test cakephp configuration:
[code]
I was able to get to work by modifying ConfigurationTrait.php starting line 79 to this:
[code]
This not a complete solution, just a hack I am using. Would it be possible to add support to all ssl connecti

[2015-07-16 20:31] lorenzo commented on #99
Would you like submitting a pull request for this?

[2015-07-17 07:10] GuidoHendriks opened #100 "Foreign keys referencing to non-existing tables when baking snapshot"
When baking a snapshot, foreign keys are added correctly now. But there's a problem when migrating to the snapshot. Tables are added in alphabetical order. So in a lot of cases it'll add a foreign key for a not yet existing table, which leads to database errors:

      SQLSTATE[HY000]: General error: 1005 Can't create table 'foo.bar' (errno: 150)

Example of the way it's created:

[code]

[2015-07-17 11:10] HavokInspiration commented on #100
I'll take a look

[2015-07-17 21:39] HavokInspiration commented on #100
Pull request up #101

[2015-07-17 21:40] HavokInspiration commented on #63
Closing since #92 was merged and the only way of altering collation we know of is now documented.

[2015-07-17 21:40] #63 closed

[2015-07-17 22:15] #100 closed

[2015-07-17 22:21] HavokInspiration commented on #99
We might need a better way of dealing with parameters developer might need.
We already had #96 and now this one.

I hadn't give this much thought, be maybe defining the base parameters (adapter, name, user, pass) and merge the rest ? I'm afraid there will be some parameters that have different names than the one phinx uses.

Or maybe emit an event that will allow parameters to be modified (``$conf

[2015-07-26 18:45] rrd108 opened #104 "create migrations updates from database like when init is used"
This is a question / feature request.

Normally when I change my database tables, I do it in MySQL Workbench database schema, and than synchronize it to my actual database.

It would be nice to have a migration command what creates the migration, based on the used ALTER / CREATE / DROP statements, or by a database sync.

[2015-07-27 10:53] HavokInspiration commented on #104
If I understand correctly, you want to be able to create a Migrations file out of a pool of SQL queries (ALTER already existing tables, CREATE new ones, DROP existing ones...) ?

[2015-07-27 10:59] rrd108 commented on #104
@HavokInspiration Yes. After I created the initial, I would like to do something similar for changes.

[2015-07-27 11:07] AD7six commented on #104
I also would like to have this workflow.

Would mean:

 * Load/read (but do not run) all existing migrations/the last snapshot, to know according to existing migrations what the previous db-schema was
 * Take a snapshot of the current db schema
 * compare the two, and make a migration of the differences

[2015-07-27 11:56] HavokInspiration commented on #104
Ok, got it. You need to compare two schemas : the current which was updated using the tool of your choice and the old one that is made out of all the existing migrations.

But I have reservations on this. That means we need to exclude potential tables / columns / whatever that were added by plugins. Otherwise the baked "diff snapshot" will contain instructions that does not need to be there. Or pl

[2015-07-27 11:59] lorenzo commented on #104
We should wait for this, or lobby to get it merged: https://github.com/robmorgan/phinx/pull/610

[2015-07-29 08:45] AD7six commented on #104
In my own projects I'm actually in favor of using sql always for migrations, unless x-db compatibility is something you actually need. Otherwise, you may find your schema has subtle (or not so subtle) differences to what you'd expect.

[2015-07-29 10:48] HavokInspiration commented on #104
Yeah I know. Having a bake output similar for each DB driver when updating the snapshot tests of the plugin is a real hassle.

[2015-07-30 20:12] HavokInspiration commented on #99
Closing as #103 is open

[2015-07-30 20:12] #99 closed

[2015-07-30 20:12] HavokInspiration commented on #37
Closing as #97 is open.

[2015-07-30 20:12] #37 closed

[2015-07-30 20:13] HavokInspiration commented on #61
@burzum Can you confirm that this issue and #37 are asking for the same thing ?

[2015-07-30 20:17] burzum commented on #61
@HavokInspiration guess it is, haven't had the time to give it a closer look yet.

[2015-07-30 20:23] HavokInspiration commented on #78
The ``AbstractMigration`` class already has a ``init()`` method that is called on instanciation.
[Ref in phinx source](https://github.com/robmorgan/phinx/blob/0.4.x-dev/src/Phinx/Migration/AbstractMigration.php#L63-L81)
Is that what you are looking for ?

[2015-08-01 11:47] #61 closed

[2015-08-03 20:35] sdustinh opened #107 "Migrate fails with environment variables"
I haven't looked into *why* this happens but it happened to me with a fresh install of cake.

[code]

[code]

[code]

Note **'root'@'localhost'** above instead of **'new_username'@'localhost'**,

The env variables are used correctly when the application connects to the database. This problem seems to be limited to the Migrations plugin. I can see the result of the environment variables in `phpinfo

[2015-08-04 06:43] HavokInspiration commented on #107
What are the params of the ``ipmanager`` connection you are using in your ``migrate`` call ?

[2015-08-04 13:56] sdustinh commented on #107
The IpManager config is the same but with different environment variables names:

[code]

No matter which configuration I run the migration with it gives me the same error. The only way the error goes away is when I don't use environment variables.

I'm troubleshooting it now by overloading sections of the migrations plugin to see if I can track down where the point of failure is. I'll let you kno

[2015-08-04 14:55] HavokInspiration commented on #107
Do other CLI plugins work ?
Because my other guess would be that the CLI call does not know about the environment variables set in your Apache vhost.

[2015-08-09 13:57] bravo-kernel opened #111 "Cake3 shell migration throws "Call to a member function getOption() on null""
I am running Cake 3.0.11 with Migrations plugin 2.0 and am trying to run a migration from within a Shell as described [here in the book](http://book.cakephp.org/3.0/en/migrations.html#running-migrations-in-a-non-shell-environment).

I hoped it would "just work" but it throws the following error.

[code]

The code for my Shell below (search for ``run phinx migration``):

[code]

Thanks in advance f

[2015-08-09 14:57] HavokInspiration commented on #111
Even if the Migrations class was made to run migrations outside a Shell environment, it should not throw an exception.
I looked into it and I probably found the cause of the bug.

[2015-08-09 15:21] HavokInspiration commented on #111
PR opened #112

[2015-08-09 15:21] #111 closed

[2015-08-09 15:22] bravo-kernel commented on #111
Thanks a lot @HavokInspiration

[2015-08-11 17:48] HavokInspiration commented on #107
@sdustinh Any update on this ? Do other CLI plugins (like bake) work with this database configuration ? If so, I can try to reproduce the environment to see if I have the same issue.

[2015-08-11 20:54] sdustinh commented on #107
Ooops! I got the notification on this last week and completely forgot to reply. Sorry about that - things are busy on my end.

I ran into this problem again today and I think you may have been right about the problem being upstream of the migrations plugin itself. To confirm that it wasn't just the migrations plugin I used the following...

[code]

[code]

After I did that debugging I realized wha

[2015-08-11 21:02] #107 closed

[2015-08-11 21:03] HavokInspiration commented on #107
I think there is no fix _per se_ except for documentation as well.
Thanks for the feedback.

[2015-08-19 12:13] robmcvey opened #113 "When installing via composer, plugin location can not be found"
PHP 5.5

When I install the plugin via composer I get the following error:

[code]

I've tried declaring the namespace and path in composer.json e.g.
[code]

...and dumping the autoload again, I've also tried defining the `path` option e.g.

[code]

Neither fix the issue. Any help would be much appreciated!

[2015-08-19 14:24] robmcvey commented on #113
Fixed. This was due to me failing to run `composer install` so the following post-install scripts were not ran;

[code]

[2015-08-19 14:24] #113 closed

[2015-08-24 07:55] burzum commented on #78
@HavokInspiration yes, that could work.

[2015-08-24 08:02] burzum opened #114 "Running migrations from code?"
Is there a way to run migrations from within my applications code? The use case is a plugin system that allows me to install / deinstall plugins and to trigger their migrations.

What I would like to do is something like this (Pseudocode!):

[code]

It would be nice if the migration would return a meaningful state. I think this problem was discussed before as well. The underlying migration lib by

[2015-08-24 08:04] burzum commented on #114
Meh just found this https://github.com/cakephp/migrations/pull/97

[2015-08-24 08:04] #114 closed

[2015-08-24 09:05] jhli commented on #114
You can also look at how Croogo does some of that and maybe it is already solved on croogo for cake3 @rchavik.

[2015-08-24 10:27] rchavik commented on #114
Nope. We haven't gotten there yet on 3.x.

[2015-08-24 13:26] #78 closed

[2015-08-24 19:29] bobmulder opened #115 "Running all migrations"
Hey guys,

I have a plugin wich has dependencies, so when you install that plugin, you have to run multiple migrations (for every plugin once).
Is there a way to create a command wich will run every migration, so of the app, and all plugins?

Greetz

[2015-08-24 19:35] lorenzo commented on #115
No, there is no command for that

[2015-08-24 19:36] josegonzalez commented on #115
You can get a list of all loaded plugins and then run the migrations manually for each plugin as of [1.2](https://github.com/cakephp/migrations/releases/tag/1.2).

[2015-08-24 19:38] bobmulder commented on #115
@josegonzalez How should I run all migrations with a list of all plugins?

Tried this:
[code]
But the command will stop after the first migration...

[2015-08-24 19:56] lorenzo commented on #115
I would just do a basic shell script or make file, there is no actual need to run this from php

[2015-08-24 19:57] #115 closed

[2015-08-27 01:09] nhiennn commented on #4
Please help, I can not set uuid type limit that always return char(36) ???

[2015-08-27 12:08] HavokInspiration commented on #4
@nhiennn What db server are you using ?

[2015-08-27 15:29] nhiennn commented on #4
In phinx I used "uuid" type to create "char" type in database:
->addColumn('text','uuid',['limit' => 4, 'null' => true])
but after migrate, in datatable struct is text  char(36). I can not set limit for this type to char(4) ???

[2015-08-27 23:17] HavokInspiration commented on #4
Well, UUID is a special type of column that have a fix length of 36.
You might want to try to use ``->addColumn('text', 'char', ['limit' => 4, 'null' => true])``

[2015-09-01 06:44] HavokInspiration commented on #64
A solution to deal with this is proposed in #116

[2015-09-01 06:44] #64 closed

[2015-09-01 06:44] HavokInspiration commented on #9
A solution to deal with this is proposed in #116

[2015-09-01 06:44] #9 closed

[2015-09-01 12:54] xicrow opened #117 "Missing date option from Phinx v. 0.4.5"
Since an update today to Phinx v. 0.4.5, Phinx has added the `date` option to migrations.

Phinx\Console\Command\Migrate::configure():
`->addOption('--date', '-d', InputOption::VALUE_REQUIRED, 'The date to migrate to')`

The update makes migrations throw the `InvalidArgumentException` since the `date` option is not defined in the CakePHP wrapper.

With the line below added to the CakePHP wrapper,

[2015-09-01 18:19] HavokInspiration commented on #117
I'll take care of this

[2015-09-01 21:14] HavokInspiration commented on #117
Pull request up : #118

[2015-09-01 21:14] #117 closed

[2015-09-02 12:50] rafwell commented on #117
Same problem here.

[2015-09-08 17:45] HavokInspiration commented on #62
I took a look at this.
Apparently, if you define a column as ``binary`` in phinx for MySQL, it is changed to a ``blob``, no matter what.

[See ref in Phinx source](https://github.com/robmorgan/phinx/blob/0.4.x-dev/src/Phinx/Db/Adapter/MysqlAdapter.php#L745-L761)

[2015-09-10 18:09] HavokInspiration commented on #62
I proposed a fix on the phinx repo : https://github.com/robmorgan/phinx/pull/640

[2015-09-12 21:17] bravo-kernel commented on #12
Maybe this will help fellow idiots.... the exact same error is produced when running migrations with ``debug = false`` :cry:

[2015-09-12 21:39] jhli commented on #12
@CauanCabral is it in the docs? Could you add it, if not?

[2015-09-13 00:59] dereuromark opened #124 "Issue with marking all as migrated"
If you try to run `Migrations mark_migrated 123` it will tell you that this is not a valid version.
But if you do `Migrations mark_migrated *` with the wildcard operator it will say

    Migration successfully marked migrated !

But will just add 0 as version in the DB. Doing it again results in

    An error occurred : SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '0' for

[2015-09-13 07:28] HavokInspiration commented on #124
This is an interesting idea.
About the ``*`` operator, it is indeed not supported. To be honest, the unexpected result from using might be due to some conditions being matched by a ``glob`` or something like that. I look into that.

What about ``mark_migrated all`` instead of the ``*`` ?

[2015-09-13 09:32] dereuromark commented on #124
I dont think it warrants an own command as the use case is not that common.

[2015-09-13 10:37] HavokInspiration commented on #124
No no I was thinking of adding a special value "all" to the $version argument of the mark_migrated command. If used instead of a date all found migrations will ne migrated.

-----Message d'origine-----
De : "Mark S." <notifications@github.com>
Envoyé : ‎13/‎09/‎2015 11:33
À : "cakephp/migrations" <migrations@noreply.github.com>
Cc : "Yves P." <havokinspiration@gmail.com>
Objet : Re: [migrations] I

[2015-09-13 10:58] dereuromark commented on #124
I see.
Well, either way works for me. The wildcard on the same command just made sense to me from a UNIX point of view ;)

[2015-09-14 13:50] CauanCabral commented on #12
@jhli yes, it's here: https://github.com/cakephp/migrations#configuration

[2015-09-15 17:22] dereuromark commented on #124
Closing as PR is open.

[2015-09-15 17:22] #124 closed

[2015-09-16 17:09] sdustinh opened #126 "CakeAdapter throws InvalidArgumentException when creating database"
I wrote a migration that checks to create the database itself if it does not already exist. The problem is the `CakeAdapter` is constructed calling the [`getConnection()`](https://github.com/cakephp/migrations/blob/master/src/CakeAdapter.php#L54) method which throws the [`InvalidArgumentException`](https://github.com/robmorgan/phinx/blob/0.4.x-dev/src%2FPhinx%2FDb%2FAdapter%2FMysqlAdapter.php#L113

[2015-09-16 17:25] HavokInspiration commented on #126
Can you provide the migration file please ?

[2015-09-16 17:43] sdustinh commented on #126
Of course, my bad. I should have included it to begin with. This is roughly what it looks like...

[code]

[2015-09-16 18:40] HavokInspiration commented on #126
I can't reproduce the issue.
Could it be a problem with your DB credentials ?
What is the message the Exception is returning ?

[2015-09-16 19:48] sdustinh commented on #126
Really? That's strange.

My other migrations in the same plugin work just fine. It's only the create database calls. Here is all of the relevant info for you to check out: https://gist.github.com/sdustinh/78a9e346cae182929f23

[2015-09-16 20:28] HavokInspiration commented on #126
Thanks for the gists, that will help me figure everything out.

[2015-09-17 06:56] HavokInspiration commented on #126
Why is there a difference in the migration provided in gist (https://gist.github.com/sdustinh/78a9e346cae182929f23#file-20150916155106_create_database-php) and the one you pasted here https://github.com/cakephp/migrations/issues/126#issuecomment-140815998 ?
Which one do you actually use ?

[2015-09-17 15:17] sdustinh commented on #126
The one in the gist has been stripped down to show only the relevant parts that directly contribute to the exception being thrown. The one in the initial comment is my first draft when I came across the bug. You can see that the migration extends `App\AbstractMigration' in the gist. Just to eliminate the curiosity that something there might be causing it here is the complete source on that...

[co

[2015-09-17 17:59] HavokInspiration commented on #126
Thanks for the extra context.
What is bothering me is that despite all your informations and the fact that I'm trying to get as closed as I can get from your context, I can't reproduce the bug.

I have a database config that is connecting to an existing database (called ``cakephpapp``) :

[code]
The ``products`` database does not exist.
I created the ``App\AbstractMigrations`` class and used as th

[2015-09-17 18:13] HavokInspiration commented on #126
Thanks for the extra context.
What is bothering me is that despite all your informations and the fact that I'm trying to get as closed as I can get from your context, I can't reproduce the bug.

I have a database config that is connecting to **an existing database** (called ``cakephpapp``) :

[code]
The ``products`` database does not exist.
I created the ``App\AbstractMigrations`` class and used a

[2015-09-17 18:17] sdustinh commented on #126
Ah, that's our problem right there. I'm creating a database that does not exist at all yet.

What I'm trying to do is check out the application from git, install the dependencies with composer and initialize the database with migrations. The connection information is in environment variables. If the database it is trying to create already exists I use `mark_migrated` to just skip it.

I'm trying t

[2015-09-17 18:26] sdustinh commented on #126
Oh actually... it still fails to create a database even with my `default` database able to connect. It's because the `products` connection defines `'database' => 'products'`. So technically I could run: `bin/cake migrations migrate -p Products -t <create db version>` which would create the database and then I'd have to run `bin/cake migrations migrate -c products -p Products` to migrate the rest.

[2015-09-17 18:28] HavokInspiration commented on #126
This should work yes.

[2015-09-17 18:35] sdustinh commented on #126
Ah, I guess I should move my database creation stuff to the main application. There is still the problem of creating on an uninitialized database for the `default` connection.

Would you be open to a pull request that lazy loads the connection so this would be possible? I haven't looked into how difficult this would be but I'd be happy to take a run at it if you think it's something worth having.

[2015-09-18 06:47] HavokInspiration commented on #126
What you are trying to do should be done outside of the migrations system. When the MysqlAdapter (or any Adapter) establishes (or tries to establish) a connection to the database, one of the first thing it does is checking if the ``phinxlog`` table exists : if it does not, it tries to create it (even before checking if there are migrations to migrate or rollback). But in order to create it, it nee

[2015-09-18 14:02] sdustinh commented on #126
After playing around with this hiccup yesterday I agree with you. This is a non-issue since the only issue here is that I have to create the initial database.

Thanks for your help and sorry for wasting your time with this! I appreciate it.

[2015-09-18 14:02] #126 closed

[2015-09-18 15:31] HavokInspiration commented on #126
Don't worry. I'm glad I could be of help.

[2015-09-21 15:01] bobmulder commented on #115
@josegonzalez I guess this method (https://github.com/cakephp/migrations/blob/master/src/Migrations.php#L88-L102) will run all available (including all plugin) migrations?

[2015-09-21 15:21] HavokInspiration commented on #115
This method will run all available migrations **based on the params you pass**.
So if you want to run all migrations for all your plugin, you still need to do what @josegonzalez suggested : get a list of all loaded plugins and run the migrations. Something like this :

[code]

[2015-09-21 15:26] bobmulder commented on #115
Great, thanks for the example @HavokInspiration :+1:

[2015-09-21 15:41] HavokInspiration commented on #115
You can also take a look at the [CakePHP Cookbook](http://book.cakephp.org/3.0/en/migrations.html#running-migrations-in-a-non-shell-environment) if you need more infos on how to run migrations in a non-shell environment.
If some informations seem unclear, please tell us.

[2015-09-21 15:43] bobmulder commented on #115
Ah I didn't know about that info. I thought the migration-doc was on this repo. Thanks for noticing me! :)

[2015-09-29 16:01] JoeThielen opened #128 "Feature Request: Specify field length on CLI"
I apologize if this has been asked before, I've done a search here and did not find it.  Would it be possible to add the ability to specify field length via the CLI?

field:fieldType:indexType:indexName:fieldLength

Or even add an autosense from the fieldType... when "string128" is used over "string", use the 128 as the length?

The reason I ask is that this would help in terms of writing document

[2015-09-29 19:54] markstory commented on #128
As soon as someone implements it :smile:. Without any delimiters, finding the length and the column type could get a bit tricky. Perhaps something like `string[128]` or `string(128)` could work?

[2015-09-29 20:12] JoeThielen commented on #128
I'd personally be fine with whatever method you all come up with, as long as it can be implemented from the CLI :smile: .  It's nothing that needs immediate reaction, but maybe something that could be looked into for the future.

[2015-09-29 20:48] lorenzo commented on #128
It is possible to specify the length:

[code]

[2015-09-29 22:23] JoeThielen commented on #128
:smile:  I tried this and it didn't work.  Thanks for the glimmer of hope though, ha.

[2015-09-30 06:46] HavokInspiration commented on #128
That's a good idea.

I like the ``string(128)`` writing. Adding another ``:something`` writing would indeed get tricky real quick.
Plus, it's closer to the real writing.

[2015-09-30 18:40] HavokInspiration commented on #62
The issue was resolved with the robmorgan/phinx#640 PR that was merged.
The feature will be available with the next release of the plugin.

[2015-09-30 18:40] #62 closed

[2015-10-01 10:21] ravage84 opened #129 "RFC: mark_migrated "up to" a certain version number"
After seeing https://github.com/cakephp/migrations/pull/125 being merged, it reminded me on [my feature request](https://github.com/CakeDC/migrations/issues/223) for [CakeDC/migrations](https://github.com/CakeDC/migrations/).

So in additon of having the current two mark_migrated commands:

[code]

I propose one more, to allow to mark all versions up to a given version number as migrated without r

[2015-10-01 10:54] HavokInspiration commented on #129
I can see some value to this.
We could add a flag that, when present, instead of just marking the target as migrated will mark all of them up to the target.
Something like :

[code]

Would you expect the given version number to be migrated as well or stop to the one just before it ?

[2015-10-01 10:59] ravage84 commented on #129
@HavokInspiration with "up to" I would assume it would include the given version number.

[2015-10-01 13:47] dakota commented on #129
@HavokInspiration `--target` (or `-t`) to match the `migrate` and `rollback` commands. Sounds like a good idea to me. :+1:

[2015-10-06 15:26] JD-Robbs opened #131 "RFC: Migration Generation via Schema Comparison"
CakePHP 2.5 (edit: read "2.x") and its migration plugin had the nifty feature of automatically generating "incremental" migrations based on schema comparisons - saving one from manually having write-out the migrations.

For that purpose, CakePHP used this nifty method (after getting confirmation via the CLI): https://github.com/cakephp/cakephp/blob/2.5/lib/Cake/Model/CakeSchema.php#L451

I wonder

[2015-10-06 17:09] HavokInspiration commented on #131
Seems like a duplicate of #104

[2015-10-06 17:09] #131 closed

[2015-10-06 17:37] JD-Robbs commented on #131
Whoopsie - I missed that. My apologies. :smiley:

[2015-10-09 00:33] pedrofs opened #133 "MigrationTask#detectAction bug"
Hi guys,

I ran into a very specific case where the MigrationTask#detectAction is returning the wrong table name:

`bin/cake bake migration AddSomeFieldToTodos`

It gets the table name as being `dos` instead of `todos`. It seems to occur for every table that starts with `to`.

[2015-10-09 11:24] HavokInspiration commented on #133
PR #134 merged

[2015-10-09 11:24] #133 closed

[2015-10-10 03:42] pedrofs commented on #129
Sorry the mess! :)

[2015-10-10 11:11] HavokInspiration commented on #129
Closing as #137 is open.

[2015-10-10 11:11] #129 closed

[2015-10-12 06:39] cake17 opened #139 "Namespace for migration's files"
Which namespace should we use for migration's files that resides in `config/Migrations` ?

This is to solved the phpcs error I get each time I run [cakephp-codesniffer](https://github.com/cakephp/cakephp-codesniffer):

    Each class must be in a namespace of at least one level
    (a top-level vendor name)

[2015-10-12 07:20] HavokInspiration commented on #139
That is a good question.
We need to have a namespace that will respect PSR and we do not define a root namespace for the ``config`` dir.

[2015-10-13 17:07] HavokInspiration commented on #128
I started working on this.
FYI, I went with ``string[128]`` because using parenthesis causes the shell call to fail.

[2015-10-13 18:37] markstory commented on #128
@HavokInspiration Sounds good.

[2015-10-13 18:57] JoeThielen commented on #128
Thanks so much!  I was figuring some delimiters would cause issues on the CLI.

[2015-10-13 19:03] josegonzalez commented on #128
@JoeThielen I stole the idea from Rails and the company I previously made the feature for went out of business so... Open Source!

[2015-10-15 07:02] HavokInspiration commented on #128
Done in #140

[2015-10-15 07:02] #128 closed

[2015-10-15 07:03] HavokInspiration commented on #139
Can we have a dummy namespace ? Something like ``Config\{MIGRATION_DIR}`` ?
Does that break anything with PSR ?

I can try and see if that breaks anything code-wise.

[2015-10-21 07:31] cake17 commented on #139
@HavokInspiration did you try with a dummy namespace ?

While reading PSR2, having a namespace doesn't seem to be an obligation:

    **When present**, there MUST be one blank line after the namespace declaration

So maybe I'll only test in `/src` and `/tests` with cakephp/codesniffer

[2015-10-21 11:03] HavokInspiration commented on #139
I did not try it yet.

[2015-10-21 11:03] HavokInspiration commented on #139
I did not try it yet.
Excluding ``config`` from testing can be a solution but it is worth checking it out.

[2015-10-21 19:55] HavokInspiration commented on #139
@cake17 Using a dummy namespace raises an exception.

[2015-10-23 02:52] jadb commented on #139
What's the benefit of having a namespace here?

[2015-10-23 06:44] HavokInspiration commented on #139
@jadb I think @cake17 asked the question because he was sniffing the ``config`` directory, where migrations are stored and it was raising an error asking for a namespace in Migrations class files.
In my opinion, the best course of action if the ``config`` is sniffed would be to exclude the folder containing the migrations.

[2015-10-23 06:48] cake17 commented on #139
@HavokInspiration @jadb exactly ! I was wondering if all classes had to be under a namespace to follow psr-2. I don't sniff `config` anymore. Maybe we can close this

[2015-10-23 06:50] #139 closed

[2015-10-23 07:31] JD-Robbs opened #143 "Mirgations vs. Bake Generate Different Migration Scaffolds"
Not a biggie, but I realised that depending on whether you use `bin/cake bake migration TestMigration` or `bin/cake migrations create TestMigration`, you get different resulting files.

**`bin/cake bake migration TestMigration`:**

[code]

**`bin/cake migrations create TestMigration`:**

[code]

Functionally, they're both ~~different~~ **equivalent** (edit: Freudian slip), of course.

I merely won

[2015-10-23 19:52] HavokInspiration commented on #143
I'm wondering altogether if we should remove the ``create`` command from the wrapper, given than the bake command does quite a lot of things.
I've personally never had a need for the ``create`` command.

I'm open to suggestions on this one.

[2015-10-24 11:07] lorenzo commented on #143
We could make the create command call bake instead...

[2015-10-26 07:05] sitedyno opened #144 "RFC - Pick a version for phinx?"
cakephp/app will soon ship with composer minimum-stability stable. I just changed a project to use minimum-stability stable because phpunit wants php7 with minimum-stability dev. This causes composer to complain because migrations wants robmorgan/phinx dev-master. I've worked around it for the moment by doing "robmorgan/phinx": "dev-master as 0.4.6"

[2015-10-26 07:53] HavokInspiration commented on #144
We currently need ``dev-master`` because there are fixes in phinx that were not part of the last release (0.4.6)
Those fixes are around binary types for MySQL and ON UPDATE / ON DELETE parts of foreign key constraints statements.
Without the latest fix, migrations using SQLite can have their tables dropped in some conditions / use  cases because of SQL queries being wrong.

We've been waiting for

[2015-10-27 12:40] theplankmeister opened #145 "CLI command autocompletion not working properly."
Something to do with the getOptionParser(), it seems...

[2015-11-03 11:59] YassineKhadouch opened #146 "migration class not found"
i have a problem executing this: bin/cake bake migration CreateCategories parent_id:integer lft:integer[10] rght:integer[10] name:string[100] description:string created modified

Error:
Exception: Shell class for "Migration" could not be found. in [/Applications/MAMP/htdocs/blog/vendor/cakephp/cakephp/src/Console/ShellDispatcher.php, line 290]

this works fine: ./bin/cake migrations create CreateA

[2015-11-03 12:23] HavokInspiration commented on #146
What version of the plugin are you using ?
What version of CakePHP ?

[2015-11-03 12:34] YassineKhadouch commented on #146
CakePHP v3.1.3
Migrations plugin v0.4.1

[2015-11-03 12:48] HavokInspiration commented on #146
By plugin, I meant the version of the cakephp/migrations plugin (I suspect you gave me phinx version).
You can use ``composer show -i`` to get all package installed along with the version number.

[2015-11-03 12:51] YassineKhadouch commented on #146
Ok here we go: cakephp/migrations v1.4

[2015-11-03 13:03] HavokInspiration commented on #146
Can you bake anything else ? Like a ``controller`` or a ``model`` (``bin/cake bake controller`` or ``bin/cake bake model``) ? Does it trigger you an error ?

Because I can't reproduce the issue with CakePHP 3.1.3 & migrations plugin 1.4

[2015-11-03 13:29] YassineKhadouch commented on #146
i can bake everything (controller,model,template)

[2015-11-03 13:31] YassineKhadouch commented on #146
should i print my composer json file here

[2015-11-04 08:10] HavokInspiration commented on #146
That could help. As well as the full ``composer show -i`` output.
Some more context could help reproduce the issue as well :

- is it from a fresh install ?
- was it after a composer update ?
- how did you install the migrations plugin ?

Anything that could help us reproduce the issue. Right now on a fresh install and on an already existing install, I can not seem to be able to reproduce the issu

[2015-11-04 12:02] YassineKhadouch commented on #146
--------------------------------------------   composer show -i  ---------------------------------------------
aura/installer-default            1.0.0          Installs Aura packages using the Composer defaults.
aura/intl                                1.1.1          The Aura.Intl package provides internationalization (I18N) tools, speci...
cakephp/bake                       1.1.1          Bake pl

[2015-11-04 12:54] HavokInspiration commented on #146
Why do you have references to the cakedc/migrations plugins in your composer file ? (in the ``extra`` statement and in a second ``require`` statement)

This might be causing the issue.
Try removing them, removing the cakedc plugin and dumping the autoload file again.

[2015-11-04 14:37] YassineKhadouch commented on #146
i was testing that plugin and i forgot to clean that out, but what it is weird is that it is working now without even cleaning the composer file, i don't now the cause of this but it is working now thanks for your help

[2015-11-04 16:30] HavokInspiration commented on #146
Ok. Nice to know it's working for you now !

[2015-11-04 16:30] #146 closed

[2015-11-09 13:24] choma opened #147 "Issue with bake when trying to add field name starting with "To""
When I try to add a column named "token" to the Users table like this:

    bin/cake bake migration AddTokenToUsers token:string

bake generate this code:

[code]

Then, when I try to run the migration I get
[code]

It works if I do it this way:

    bin/cake bake migration AddtokenToUsers token:string

[2015-11-10 01:13] antograssiot commented on #147
fixed in  #148

[2015-11-10 01:13] #147 closed

[2015-11-10 16:52] saydoganreidin opened #150 "ConfigurationTrait postgresql schema config bug"
ConfigurationTrait  does not take the correct values in app postgresql schema settings (config/app.php).

[2015-11-11 10:03] #150 closed

[2015-11-15 15:38] dereuromark commented on #104
Is there any progress on this?
Similar to how other migration tools work, e.g. propel2, there are two commands usually:

    migrate to migrate the existing files
    diff to generate a diff from the current head of DB and files

So for us in Cake Migrations plugin

    create {name}: generate an empty file
    diff {name}: generate the current diff
    migrate: migrate up

[2015-11-15 15:41] dereuromark commented on #143
We should probably only do that if bake plugin exists and is loaded.

[2015-11-15 16:30] ionas commented on #104
```cake migrations diff``` would be very useful as you could start creating the base scheme for instance in SequelPro.app an then once you are happy create an initial schema by doing diff :+1:.

[2015-11-15 16:35] dereuromark commented on #104
Since this worked like this in cake2 migrations it cannot be too hard to make it work like this for cake3, can it?

@ionas You can always create an initial one using "cake bake migration_snapshot".
This is the trivial case.
More difficult is the diff when there are already existing migration files present.

[2015-11-15 16:42] ionas commented on #104
That would also be kind of good as you could use external tools to build schema upgrades and then generate schema upgrade files like that :+1: (still).

[2015-11-15 17:47] dereuromark commented on #104
One solution could be to add https://github.com/mmatuson/SchemaSync on top to generate at least raw SQL or sth for now, if spinx cannot help us here.

[2015-11-15 23:28] dereuromark opened #152 "File name closer to real class name?"
Is there any way we can make the class name closer to the real class name?
E.g. with "Init" the class name becomes `class Init extends AbstractMigration {}`, but the filename is `20151114132749_init.php`

CS tools lowercase the class name otherwise (or report an issue here).

So it would be better if the produced file name was at least `20151114132749_Init.php`.

[2015-11-16 10:52] HavokInspiration commented on #152
It's worth checking, but I remember phinx being really picky (and a pain) about filename resolution.

[2015-11-16 11:04] HavokInspiration commented on #104
I personally did not start working on this (nor did I really start thinking about it).

@dereuromark Might be tricky since the class responsible for generating the diff was removed in Cake3 (but that can be solved really quickly). The other biggest problem would be to parse migrations files / generate the new schema to compare against the current without running the migrations and to have somethin

[2015-11-16 11:35] dereuromark commented on #152
We should maybe open a ticket there. But IMO its the PSR standard to always name your classes the same way as the file name and vice versa.

[2015-11-16 11:39] dereuromark commented on #104
Yeah, maybe the ORM itself should be able to provide this? As I said, the other ORMs come with that feature out of the box (propel and doctrine migration diff), and so should Cake3 ORM as well. Having it as this migration plugin addon would of course work, as well.
//cc @lorenzo

[2015-11-16 11:59] HavokInspiration commented on #152
Note that removing the timestamp will not be possible based on how phinx currently works though.

But for the "text" part, it might already work though, I know the method for checking if the filename matches phinx requirements was changed not so long ago to a regex based approch, so it might be working. We would only need to change the filename generation then.

[2015-11-16 12:07] dereuromark commented on #152
Removing the timestamp is not what is necessary :)
Only the uppercase of the "i" here in my example is.

[2015-11-16 12:33] ionas commented on #152
I am not sure if that's worth it. I'd rather go with timestamp_class_to_lower_case as that is easier to type and it is an interface you would "type" against (including, untested: auto complete). In case this change is done, it should reflect a full CameCase classname not just the first char uppercase ;-).

[2015-11-16 13:00] dereuromark commented on #152
Thats exactly what I meant, of course its full CamelCase!

[2015-11-16 23:27] lorenzo commented on #104
I would rather donate that code to phinx instead of having it in cake

[2015-11-16 23:38] dereuromark commented on #104
Why? It's a huge selling point along with a few other features that people are looking for when searching for ORMs in the enterprise field, before choosing doctrine then etc because those are shipped with all that.

[2015-11-17 09:07] lorenzo commented on #104
Mainly because we don't offer the code for migrations, but phinx does. We would have no immediate use for it without first integrating it with another tool

[2015-11-20 12:25] adayth opened #154 "Why ignore i18n table in MigrationSnapshotTask?"
The i18n table is ignored when doing bake migration_snapshot directly in code, without a direct option to override this (except creating a new plugin/Task and override it of course).

I think is an usual use case, to include i18n table in the "Initial" migration file.

[2015-11-22 08:30] HavokInspiration commented on #154
I suspect the reason was because the i18n table can be generated in another way (using the i18n.sql file shipped with the app skeleton).
I agree one should at least be able to opt-out of the behavior (using an option flag for instance). But I would have no problem with removing the thing altogether as I don't think this is really necessary.

[2015-11-22 08:31] HavokInspiration commented on #145
I'll have to investigate this, I never tried to achieve autocompletion with CakePHP shell system.

[2015-11-22 08:34] HavokInspiration commented on #143
@lorenzo That could be a solution. But I'm wondering if that's possible since the ``create`` command does not take the same arguments / options as bake.
This is going to need some investigations.

[2015-11-22 08:42] lorenzo commented on #154
Let's remove it

[2015-11-22 08:51] HavokInspiration commented on #154
#156 is up.

[2015-11-22 08:51] #154 closed

[2015-11-23 13:15] adayth opened #157 "Cache issues?"
I usually have issues with caching when I'm playing with migrations.

Consider this piece of code:
[code]

I detected that usually Cake doesn't detect column changes after calling $table->update(), so I tried to force it instantiating a new table. Sometimes it works, sometimes it doesn't. I even delete all my tables, run all migrations and have DB errors of missing columns with debug enabled while

[2015-11-23 13:25] lorenzo commented on #157
I think it could make sense to force disable caching in the migrations shell

[2015-11-23 14:27] adayth commented on #157
We could also study forcing an ORM cache reset after a migration.

[2015-11-23 14:45] lorenzo commented on #157
@adayth I usually call that manually using the orm_cache shell

[2015-11-29 11:54] HavokInspiration commented on #157
I suspect the issue is coming from the Schema stored in Table objects (in the  ̀̀ ̀_schema`̀` property).
The only way I found to make the example @adayth gave was to add a ``TableRegistry::clear()`` after the ``update()`` call + creating a new instance of the Table object.
Other than that, I always get an error because if the same instance is used, the Schema is not reloaded.

I don't think there

[2015-11-29 12:29] lorenzo commented on #157
@HavokInspiration You are right, the only solution would be to trash clear the registry on each update.

[2015-11-30 18:25] MatLomax opened #160 "New Version of Phinx"
Since Phinx updated to v0.5.0 migrations are now breaking with the following error message:

[code]
According to the phinx changelog, they've changed the method signature causing this error.

For now, have resolved by manually targeting phinx v0.4.6, rolling migrations back to v1.3.

As a quick fix, I suggest targeting phinx 0.4 instead of dev-master until you have implemented these changes.

[2015-11-30 18:55] dereuromark commented on #160
Duplicate of https://github.com/cakephp/migrations/pull/159

[2015-11-30 18:55] #160 closed

[2015-11-30 19:28] robmorgan commented on #160
@MatLomax I sent an upstream patch. The guys will merge it soon.

[2015-12-01 17:49] patrickconroy opened #163 "MigrationSnapshotTask::tableToAdd not working well with plugins"
Hello. Say I have a plugin named `Vendor/Thing` and I want to make an initial snapshot of the tables in the datasource for that plugin. Right now, this is creating an empty migration file in my plugin.
[code]

`MigrationSnapshotTask::tableToAdd` assumes that the table names are prefixed with the plugin name.

[code]

Why does it assume my table is named `vendor_thing_posts`? In my opinion, `tableT

[2015-12-01 19:29] HavokInspiration commented on #144
This has been done with the release of the 1.5.0 version of the plugin.

[2015-12-01 19:29] #144 closed

[2015-12-01 20:28] HavokInspiration commented on #163
I kind of understand why there is such a rule : to prevent collision between app table and plugins table.
But as you said, the rule is not really documented.
So I kind of agree : we could very well remove this, given than the tables list is first computed by browsing through the model files from the plugin directories.

[2015-12-01 20:39] lorenzo commented on #163
I agree it should be removed

[2015-12-01 22:15] patrickconroy commented on #163
Closing with PR.

[2015-12-01 22:15] #163 closed

[2015-12-02 18:16] HavokInspiration commented on #157
Closing as pull request #165 is up.

[2015-12-02 18:16] #157 closed

[2015-12-03 22:17] sdustinh commented on #19
Ref: http://docs.phinx.org/en/latest/seeding.html

[2015-12-04 15:34] beporter commented on #19
Everyone's situation is going to be different obviously, but my team and I ended up writing a Cake plugin to do data seeding. It still isn't tied to specific migrations, but there's no reason it couldn't be (just have your migrations `after()` invoke the appropriate Shell command and seed file name).

Anyway, here's another alternative in case it's useful to anyone that finds this thread:

https:/

[2015-12-09 18:12] HavokInspiration commented on #145
Closing as PR is opened.

[2015-12-09 18:12] #145 closed

[2015-12-09 18:32] HavokInspiration commented on #152
I tested this a bit in a test-app, it apparently works OK.
I'll dig deeper when I have the time to see if just changing the snapshot naming strategy is enough to achieve this.

[2015-12-10 09:27] Spriz opened #167 "Migrations no longer work on cake 3.0"
Hi!

Don't know if this is on purpose - but if it is, I think it should be stated somewhere! :smile:

On CakePHP 3.0 highest version of migrations supported is 1.3.1 - where as 3.1 does upgrade to cakephp/migrations 1.5.1 and sphinx 0.5.0

I see that that from 1.4 (https://github.com/cakephp/migrations/releases/tag/1.4) cakephp/migrations required 3.1 - so if it's just the way it is, then I think

[2015-12-10 09:30] josegonzalez commented on #167
What exactly happens when you say "they no longer work"?

[2015-12-10 09:31] Spriz commented on #167
## Error messages:
`bin/cake migrations create TestMigration`
[code]

`vendor/bin/phinx create TestMigration`
[code]

`bin/cake bake migration AddTestTable id:uuid name:string`
[code]

[2015-12-10 09:32] Spriz commented on #167
Sorry @josegonzalez - you beat me to it :smile: Error messages above.

[2015-12-10 09:34] Spriz commented on #167
I think it could be resolved if the latest cake 3.0 compatible version of migrations didn't use `"robmorgan/phinx": "dev-master"` in the `composer.json` - but rather last compatible version.

[2015-12-10 09:35] josegonzalez commented on #167
That's part of your `composer.json`. I think we assume all new projects *won't* be using old versions of the cakephp/app repo, and thus will get new stuff.

We definitely should call out the `robmorgan/phinx` issue in the readme though...

[2015-12-10 09:41] Spriz commented on #167
Nope, @josegonzalez that's from the composer.son from `cakephp/migrations`

If I add `"robmorgan/phinx": "0.4.*",` to my personal `composer.json` it works though :)

[2015-12-10 11:05] HavokInspiration commented on #167
What about doing a 1.3.2 release with max requirement being the last release of Cake 3.0.X and putting it back to 0.4.X for phinx ?

Note however that the test suite will not pass and more importantly, if using SQLite and doing specific operations (related to indexing), this will lead to table drops.

[2015-12-10 11:05] lorenzo commented on #167
Cake 3.0 is only receiving security patches. Please upgrade to cakephp 3.1

[2015-12-10 11:19] Spriz commented on #167
All righty :-)

[2015-12-10 16:57] fullybaked opened #168 "Migration Snapshot isn't exporting decimal fields correctly"
We started to use migrations with an existing database, so used the `bake migration_snapshot` command as per the [docs][1].  However using this migration to build our test database on our CI platform, broke the builds.  This is due to decimal fields being exported incorrectly

To reproduce:

Create a table as follows
[code]

Export it using the `bin/cake bake migration_snapshot Initial` command

R

[2015-12-10 18:19] josegonzalez commented on #167
@HavokInspiration :+1: , just be sure to mention that in the readme/release notes.

[2015-12-10 21:38] HavokInspiration commented on #167
Reopening so I don't forget

[2015-12-11 18:08] kingsolmn commented on #19
Would love to see this implemented, would be a whole lot easier!

Ref: @sdustinh http://docs.phinx.org/en/latest/seeding.html

[2015-12-11 21:00] josegonzalez commented on #19
@beporter I'd love to somehow have the following feature implemented for the CakePHP ORM: [data-seeding from a production database](https://github.com/IFTTT/polo/). Maybe something you guys at Loadsys can investigate ;)

[2015-12-15 11:01] Penergy commented on #168
I use this:
->addColumn('weight', 'decimal', [
            'default' => null,
            'null' => false,
            'precision' => 10,
            'scale' => 1,
            'signed' => 'unsigned'
        ])

[2015-12-15 11:10] Penergy opened #171 "Did anyone has the problem to migrate a specific version table?"
bin/cake migrations migrate -t 20150103081132

From the cookbook, I tried to use the above code. But it did not update the specific migration file.

Did anyone face and solve this problem?

[2015-12-16 01:09] markstory opened #172 "Generating Migrations From Existing Databases In plugin fail"
_From @visonforcoding on December 15, 2015 7:32_

I want  generating migrations to the plugin config dir from existing database,
when i use the command
[code]
Admin is my plugin .
the migrations file has been created .bug the up and down function is empty!

_Copied from original issue: cakephp/cakephp#7851_

[2015-12-16 01:09] markstory commented on #172
_From @lorenzo on December 15, 2015 9:33_

Can you please open the issue report in this repo? https://github.com/cakephp/migrations

[2015-12-16 01:44] visonforcoding commented on #172
yes,thank you @markstory

[2015-12-16 08:04] HavokInspiration commented on #172
@visonforcoding What are your CakePHP and migrations plugin versions ?

[2015-12-16 08:07] HavokInspiration commented on #171
Using the ``-t`` option will migrate all migrations **up to** the one you specified (so from the last that was migrated to the one specified).

[2015-12-16 08:18] visonforcoding commented on #172
@HavokInspiration  My CakePHP version is 3.1.5  .both version are the newest .

[2015-12-16 12:48] HavokInspiration commented on #167
Hey @Spriz.
A new version 1.3.2 was just released. Max requirements is for Cake 3.0.X and phinx 0.4.X.
It should now work with a 3.0.X release.

[2015-12-16 12:49] #167 closed

[2015-12-16 12:52] HavokInspiration commented on #172
Can you give us more details about your plugin ?
Does it define any ``Table`` classes ?
Do you have specific tables linked to that plugin ?

Can you provide us with some source code / table schemas for which the error occures ? Anything that can help us reproduce the issue you are having.

[2015-12-16 17:05] Penergy commented on #171
Thx @HavokInspiration, I hope next version has this function.

[2015-12-16 17:05] #171 closed

[2015-12-16 20:58] HavokInspiration commented on #171
I'll open a RFC to gather opinions on the feature.

[2015-12-16 21:07] HavokInspiration opened #173 "Allowing to migrate a specific migration"
Issue #171 raised the question about the possibility to migrate only one specific migration.
Currently, the ``target`` option only allow to migrate up to that specific migration but not the specific targetted migration.

Which lead to the question : should we allow users to migrate one specific migration ? An implementation of an option such as ``--only`` (as currently available for the ``mark_mig

[2015-12-16 21:22] josegonzalez commented on #173
What is the `-t` flag?

[2015-12-16 23:37] justinatack commented on #19
You can still use the built in Phinx data seeding classes in your change() or up() methods. It would be nice though if we could bake separate Seeding files.

[code]

[2015-12-17 00:12] josegonzalez commented on #19
What would be the initial seed data? Just empty?

[2015-12-17 02:09] visonforcoding commented on #172
@HavokInspiration  My plugin just a website backend manager plugin. yes ,I defiend table class.a admin table that stored manager info username and password and so on. This table can be created right migration file in the root config dir when i use command:
[code]
But this table is my plugin table,i want it can reuseable . I want table migration file can be created in the plugin config dir .so i us

[2015-12-17 04:07] sdustinh commented on #19
I've been using the TableRegistry in the up() method with a migration file prefixed like 'SeedRoles'. Honestly the only complaint I have with this method is that it marks the migration as migrated. If I could toggle that behavior I'd be set.

[2015-12-17 04:09] dakota commented on #173
I don't think it makes sense to only migrate one migration. That's like
wanting to upgrade from cake 3.1.3 to 3.1.5 without the changes in 3.1.4.
Migrations should be sequential and build on top of each other.

On 23:46, Wed, 16 Dec 2015 Jose Diaz-Gonzalez <notifications@github.com>
wrote:

[2015-12-17 07:01] dereuromark commented on #173
I also wonder what the use case here would be. Having -t to a specific version should be totally sufficient.

I would rather focus the energy on building a new diff (migration file) from new changes to DB since the last migration ;)

[2015-12-17 11:54] HavokInspiration commented on #173
@josegonzalez The ``-t`` option allows you to define a target timestamp. If you use it, it will migrate all migrations from the last one migrated up to the one specified.

@dereuromark I'm clueless about the use case. Maybe we should ask @Penergy who opened the issue in the first place.

@Penergy What is your use case for wanting to run only one migration ?

[2015-12-17 11:56] HavokInspiration commented on #172
@visonforcoding PR https://github.com/cakephp/migrations/pull/153 should have fixed the issue you are raising. I'll run some more tests to see it there are some use cases missing.

[2015-12-17 12:57] Penergy commented on #173
I used -migrate create[Model] to create a file. After developing, I tried to modify this file and update the tables. However, I don't want to create update file in migrations during development unless the web app is on public.

[2015-12-17 12:59] dereuromark commented on #173
@Penergy IMO the correct approach is to

- first run migrate to be up to date with the status quo
- then make your new migration file and modify it
- run it and then commit this new file

There should never be the need for your use case as this is not an approach you should ever do from what I can understand from your scenario.

[2015-12-17 18:32] HavokInspiration commented on #168
Closing as PR has been opened.

[2015-12-17 18:32] #168 closed

[2015-12-17 18:39] HavokInspiration commented on #173
I understand your concern : you don't want to have, while in development, multiple files interacting with the same table until it is not deployed to keep a clean migrations archive.

In case you really want to do that, you should rollback the migration, edit your migration files and then rerun the migration.
Without doing so and even if there was such a feature (migrating only one migration file),

[2015-12-17 18:42] HavokInspiration commented on #172
Ok, I can reproduce the issue. PR #153 did fix the issue, but only if the command was run with the ``--require-table`` flag

[2015-12-18 12:46] HavokInspiration commented on #172
PR #174 opened.

[2015-12-18 12:46] #172 closed

[2015-12-18 15:59] dereuromark commented on #173
We can always reopen if someone makes a valid point or use case.

[2015-12-18 15:59] #173 closed

[2015-12-18 21:29] HavokInspiration commented on #152
PR opened #175

[2015-12-18 21:29] #152 closed

[2015-12-22 12:47] HavokInspiration commented on #104
I may have had an idea for this.
There are still lots of dark areas but it seems to be working in my head.
I hope to start working on this this week or next week.

[2015-12-22 13:47] dereuromark commented on #104
@HavokInspiration Let me know if I can help out, you can contact me (on IRC or elsewhere).

[2015-12-25 10:15] josegonzalez commented on #143
Given the flexibility that the `bake` command gives us - generation of migrations via cli etc. - I think doing as @lorenzo says is probably best.

[2015-12-25 10:17] josegonzalez opened #176 "Running *all* migrations, including those for loaded plugins"
When running smaller applications on a PaaS system, it's useful to run migrations on deploy. I currently need to manually execute migrations for the main application and then separately run them for plugins like so:

[code]

If it's not already possible, it would be nice to be able to run _all_ migrations at once, like so:

[code]

Thoughts?

[2015-12-25 11:56] lorenzo commented on #176
I usually make a script myself, since it is more often than not that the order in which the plugins are loaded is important

[2015-12-26 11:14] HavokInspiration commented on #176
This feature was asked once before : https://github.com/cakephp/migrations/issues/115

I share the same concern as @lorenzo regarding plugins priority.
Currently, we could do it by looping on a ``Plugin::loaded()`` result, but what if you need to load a ``Users`` plugin before a ``Comments`` plugin ? Since the list of loaded plugin is returned sorted, there could be troublesome, unless we implemen

[2015-12-26 11:36] dereuromark commented on #176
If priority is an issue (in many cases it is not) you shouldn't use such a command.
But for those where this suffices a --all one seems to be a good idea.

An optional Configure param on top might also be useful then, I guess.

[2015-12-26 11:55] HavokInspiration commented on #104
My idea is the following :

- The mechanism would be implemented using a new bake command that would work like baking a snapshot :
``bin/cake bake migration_diff MyAwesomeDiff``

- After each ``migrations migrate`` or ``migrations rollback`` calls, the Schema of the database should be dumped. By dumped I mean, each table should be reflected in its ``Cake\Database\Schema\Table`` object, everything

[2015-12-26 12:02] dereuromark commented on #104
Nice! This is pretty much exactly how propel:diff (and propel:migrate as precondition to be in sync before trying to diff) works as well.
So this sounds very reasonable to me.

As for your issue: I don't think this is solvable by design, so we don't have to provide this functionality.
There will be a "remove fieldA, add fieldB" in the migration file you will have to manually adjust.
IF we want to

[2015-12-26 13:49] bravo-kernel commented on #139
Too bad this is closed. Now that my migration files are becoming more complex (and larger) bad CS is starting to slip in and I would really lke to run the sniffer against them.

Any chance of this ever becoming viable?

[2015-12-28 12:36] HavokInspiration commented on #139
We could potentially add a new namespace in the app skeleton pointing to the config/Migrations dir.
If we go down that road, we should also have ``bake`` add a new namespace to the composer.json file when a plugin is baked.

And make sure migrations file can be easily loaded with a new namespace.

This will need more digging for sure if this is becoming a most wanted feature.

There's also https:/

[2016-01-04 21:19] HavokInspiration commented on #104
I started working on this.

[2016-01-10 14:36] dereuromark commented on #104
Thats great news. Does it work out the way we planned it so far?

[2016-01-11 12:55] HavokInspiration commented on #104
So far so good.
I extracted some methods from the ``ConfigurationTrait`` and the snapshot bake class to two new Traits, created the new Diff bake class and added the check for synchronicity between the migrations files and the phinx log.

I however haven't had the change to work on this for days as I was busy with the seed command feature.

[2016-01-11 12:59] HavokInspiration opened #183 "Update the ``markMigrated`` method of the Migrations class"
The ``markMigrated`` method of the Migrations class needs an update to follow the changes made in #137 (basically, the ``$version`` argument is not mandatory anymore).

(I opened the ticket mainly to not forget about this.)

[2016-01-14 21:39] HavokInspiration commented on #183
PR opened

[2016-01-14 21:39] #183 closed

[2016-01-20 21:23] mistaguy opened #187 "Bake not generating migration code"
As a user who is on windows 10 using powershell
When i run any migration bake command
the code is not generated.

the example below shows that the file was written but i see nothing

<pre>
<code>

C:\xampp\htdocs\aline-ims> bin/cake bake migration AddUsernameUniqueToUsers username:string:unique

Welcome to CakePHP v3.1.6 Console
---------------------------------------------------------------
App :

[2016-01-20 21:28] josegonzalez commented on #187
So you are saying that file doesnt exist for you?

[2016-01-20 21:32] mistaguy commented on #187
It creates the migration file but its empty with no code

[2016-01-20 21:35] josegonzalez commented on #187
Interesting. That works fine for me on php 5.6.16 on a Mac. What version of PHP are you using?

[2016-01-20 21:42] mistaguy commented on #187
see above PHP : 5.4.19

[2016-01-20 21:45] josegonzalez commented on #187
@dereuromark can you check this out? Maybe its an issue regarding PCRE on windows?

[2016-01-20 22:03] dereuromark commented on #187
If I run that on my Win10 machine on normal shell, I get:
[code]

[2016-01-20 22:21] mistaguy commented on #187
I have run on a normal shell and still the issue is there. I have checked permission and Everyone has access. I will keep investigating and give feedback

[2016-01-21 12:58] HavokInspiration commented on #187
Interesting. First thing that comes to my mind would be the ``:`` used  causing problem. I know I had problems with some special characters in the past.
Can you try the following command and tell us what you get ?

``bin/cake bake migration AddUsernameUniqueToUsers username``

Another queston : do you have the column ``username`` already created in your schema ?

[2016-01-24 13:46] makallio85 opened #188 "Undefined offset: 8 in file D:\xampp\htdocs\api_app_reports\vendor\cakephp\migrations\src\Shell\Task\MigrationSnapshotTask.php and line 128"
I get following error while trying to create migration_snapshot from database ```bin/cake bake migration_snapshot InvestigationStatistics --plugin Reports```

[code]

Debug of ```$tableNamesInModel```

[code]

Debug of ```$tables```

[code]

I have 2 databases and quite basic setup. Error is understandable as there is no index 8 in second array. But... If I add ```isset($tables[$num])``` to line 1

[2016-01-25 18:54] HavokInspiration commented on #188
What version of the plugin are you using ? Because the bug you are experiencing should have been fixed in 1.5.3. (see https://github.com/cakephp/migrations/pull/177)

However, if you have multiple connection name, you should generate a migration file for each of them.
The system can not migrate one file to multiple connections.
You should do :

``bin/cake bake migration_snapshot InvestigationStati

[2016-01-27 11:53] HavokInspiration commented on #104
Just a small update to say that I'm still working on this. It's taking time because it's quite a piece of development. I'm also adding stuff I hadn't thought about as I go. Tests also consumes a lot of time.

I should start on building the schemas diff tool soon.

[2016-01-27 19:52] josegonzalez commented on #187
@mistaguy friendly *bump* :)

[2016-01-27 20:40] HavokInspiration commented on #19
With the support of seeders added to phinx and the migrations plugin enhancements following this, I think this can be closed.

[2016-01-27 20:40] #19 closed

[2016-01-28 15:10] davidyell opened #189 "Can't make "boolean" fields?"
**What am I trying?**

[code]

Tinyint isn't a valid field. http://docs.phinx.org/en/latest/migrations.html#valid-column-types

**What is happening?**

`correct INT(1)` whereas I want `correct TINYINT(1)`

This means that when the framework reads the data, it will not convert it to a boolean value, so DebugKit, shows `correct = 1` and `correct = 0` rather than `correct = true` / `false`.

This als

[2016-01-28 15:14] davidyell commented on #189
Reading fail.

http://docs.phinx.org/en/latest/migrations.html#limit-option-and-mysql

[2016-01-28 15:14] #189 closed

[2016-01-30 00:49] HavokInspiration commented on #104
My first draft of the diff tool gives the ability to detect :

- constraints deletions : plain deletion and from unique to non-unique (in this case the constraint becomes an index in the ``Schema\Table`` object)
- constraints changes : I stumbled on this out of luck actually. I deleted a FK in my schema and created a new one which had the same name but not the same references
- constraints additio

[2016-01-30 04:37] dereuromark commented on #104
I'd be pragmatic and go with the warning. Should suffice for the first release.

[2016-01-30 10:56] beporter commented on #104
I'm inclined to agree with Mark. Even the old Cake 2 plugin wasn't able to detect column renames, so this is at least no worse that before. A warning that, "the possibility for data loss has been detected--please review added and deleted columns," will actually **improve** the situation compared to what we had.

It seems like it might be possible (conceptually at least) to use some logic that comp

[2016-01-30 11:00] dereuromark commented on #104
Also: Dont forget that the big existing tools like propel migration still also cant handle these things. So it should be fine with such a base version for a while. we have lots of time to become the most advanced tool in the near or far future :)

[2016-01-31 07:32] clthck opened #190 "An issue with creating seed"
I populated 5 rows in my `users` table. But when I create seed file using `cake bake seed Users`, the `UsersSeed.php` file is generated with empty `$data` array. Is there anything I missed for creating seeds?

[2016-01-31 08:19] HavokInspiration commented on #190
Currently, the seed baking feature does not fetch the data in the table, it just creates an empty skeleton to ease the process of creating a Seed class.
You will have to add the data manually for now.

But what you suggesting is something I had in mind, I was planning to open a RFC to talk about it and gather people opinions on this (as well as discuss potential problems such as FK constraints).

[2016-01-31 08:22] clthck commented on #190
thanks for your response. I'll look forward to this feature for next release.

[2016-01-31 08:41] HavokInspiration opened #191 "Baking a seed file with data from the database"
Following #190, I'm opening this RFC to gather opinions around enhancing the seed baking feature to extract data from the database to be included in the created seed file.

The first idea of an implementation I had was to add an interactive part to the baking process, asking the dev, if there are records in the table, if he/she wants to do an extract of the data and include it in the seed file.
Wh

[2016-01-31 08:42] HavokInspiration commented on #190
It might not make it to the next release though, it needs more discussion first.

I opened a RFC to discuss this : #191.

[2016-01-31 08:42] #190 closed

[2016-01-31 09:38] josegonzalez commented on #191
Relevant: https://gist.github.com/josegonzalez/3863f341ede1b6273ba3

[2016-01-31 13:17] HavokInspiration commented on #191
Looks like you already gave this some thoughts.
Thanks for the link, I'll study this in depth later.

In that current state and with the seed feature implemented, do you think that is usable with baking a seed ?

[2016-01-31 20:58] josegonzalez commented on #191
I think so, needs lots of tests.

One thing to note is that some databases - postgres for instance - won't update the auto-increment field if you insert with an id already set. Something to think about (I can add the option to remove the `id` from my library).

Foreign keys are a problem, for sure. We should probably just warn the users, no sense in my head to make this the be-all-end-all tool. Is

[2016-02-01 07:50] HavokInspiration commented on #191
Or we could execute a query to update the sequence field manually. But there could be downside with this I don't know about.

Yes. The AbstractSeed class we extend has a protected $output property accessible through a getter : https://github.com/robmorgan/phinx/blob/0.5.x-dev/src/Phinx/Seed/AbstractSeed.php#L103-L115

[2016-02-01 07:55] josegonzalez commented on #191
You may want to look into the ifttt/polo project, which my set of scripts is based on.

[2016-02-04 20:37] HavokInspiration commented on #188
@makallio85 Have you been able to check what version of the plugin you are using ? If you updated, is the bug still occurring ?

[2016-02-05 05:17] makallio85 commented on #188
@HavokInspiration This was resolved in latest release. Thanks a lot and sorry for delay in answer.

[2016-02-05 08:07] HavokInspiration commented on #188
No problem !

[2016-02-05 08:07] #188 closed

[2016-02-08 14:27] ypnos-web opened #196 "Indices missing in migration_snapshot"
I start using Migrations by enabling the plugin and calling:

`bin/cake bake migration_snapshot Initial`

Now when I look at the resulting *_Initial.php file, my tables are all there but they miss extra indices that do not have a foreign-key relation.

Example table (DDL):
[code]

Result in migration file:
[code]

What happened to `for_model` and `model_id` indices?

[2016-02-08 16:23] ypnos-web opened #197 "Unsigned missing in migration_snapshot"
I have a table where (for whatever reason) all primary keys are `INT(11) UNSIGNED`.

This is not honored in the output of migration_snapshot. It is also not honored for foreign keys or, as a matter of fact, for any columns. See an example in #196.

[2016-02-08 18:08] HavokInspiration commented on #196
This was fixed with #192.
This will be available in the next release.

[2016-02-08 18:08] #196 closed

[2016-02-08 20:23] HavokInspiration commented on #197
I'll take care of it.

[2016-02-09 20:25] HavokInspiration commented on #197
PR #198 opened.

[2016-02-09 20:25] #197 closed

[2016-02-09 21:37] lorenzo commented on #191
Removing the id will be tricky as well, I think updating the sequence is the best idea

[2016-02-09 22:36] josegonzalez commented on #191
We should warn and require people to accept or force the seed to run if it is "generated" from the database imo.

[2016-02-24 20:19] steinkel opened #199 "Add column not updating cached metadata"
I have the following migration

        // add book_id to chapters
        $chapters = $this->table('chapters');
        $chapters
            ->addColumn('chapter_book_id', 'integer', array('null' => true))
            ->save();

And later on I was manually updating the chapter_book_id field in another migration, but the field was not saved in database. After some time debugging, the cached metad

[2016-02-24 20:42] HavokInspiration commented on #199
What version of the plugin are you using ?
Can you provide the second migrations, the one that alters the ``chapter_book_id`` column ?

I tested with the following migrations ``change`` methods (in two separate migrations) and it worked well :

[code]

[code]

[2016-02-25 10:57] steinkel commented on #199
Thank you for taking a look @HavokInspiration

Here's the code used the the next migration

    public function up()
    {
        $Chapters = TableRegistry::get('Chapters');
        $chapters = $Chapters->find();
        foreach ($chapters as $chapter) {
            $chapter['chapter_book_id'] = 1;
            $Chapters->save($chapter);
        }
    }

Versions used:
[code]

[2016-02-25 11:20] HavokInspiration commented on #199
Oh ok, I misunderstood the second part of what you did.
Thanks for the clarification.

What about the migrations plugin version ?
What you are experiencing should have been fixed with #165 ([released with 1.5.2](https://github.com/cakephp/migrations/releases/tag/1.5.2)) which is why I ask.

Depending on your answer, I'll take a look tonight if I get the time.

[2016-02-25 11:36] steinkel commented on #199
Sorry, the most important version was missing in my previous comment, anyway I did composer update to ensure we are using latest one:
[code]
I could reproduce the issue in version 1.5.6 :(
Adding the describe + forceRefresh call works

[2016-02-25 11:59] HavokInspiration commented on #199
Thanks for upgrading and testing, I'll try to reproduce and see if a fix can be found.
Out of curiosity, what db server are you using ? And what is your PHP version ?

[2016-02-25 12:06] steinkel commented on #199
[code]
Thanks

[2016-02-25 18:39] HavokInspiration commented on #199
What class are your migrations extending ? Namespace included I mean.

If your migration is extending ``Phinx\Migration\AbstractMigration`` and not our own ``Migrations\AbstractMigration`` class, that would make sense.
The plugin's ``AbstractMigration`` class creates a custom instance of the phinx ``Table`` object (when you call ``$this->table()`` in a migration) which includes the ``TableRegistry

[2016-02-27 00:52] steinkel commented on #199
hey @HavokInspiration, it's me again :)

I've used a clean cake setup and reproduced the issue.
Attached the migration files used
IMPORTANT: ensure you clear the orm_cache and the database. Then run migrations migrate and you'll get this output

[code]

NOTE: the 'another_description_id' field only appears after forcing refresh on describe.

[20160226174013_Add.php.zip](https://github.com/cakephp/

[2016-02-27 00:56] steinkel commented on #199
Using `TableRegistry::clear()` does not fix the issue as I understand was the intention here https://github.com/cakephp/migrations/pull/165/files#diff-e6fb3ae86b6330590f6e6e6672d34753R83
Check line 28 >
[20160226174013_Add.php.zip](https://github.com/cakephp/migrations/files/149143/20160226174013_Add.php.zip)

Thank you!

[2016-02-29 07:48] HavokInspiration commented on #199
Thanks for the file, I'll try to reproduce with it.

[2016-02-29 12:15] HavokInspiration commented on #199
I was able to reproduce with your file.
I'll try to find what is going on.

[2016-02-29 12:33] HavokInspiration commented on #199
Ok, I see. Apparently, it is because of table cached meta data.
If I get the time, I'll work on a fix tonight.

[2016-02-29 12:54] steinkel commented on #199
Thank you for checking this.
Would make sense to clear the orm_cache on TableRegistry::clear() calls? Or check if there are models associated with the modified table in TableRegistry and remove their keys in the orm_cache when $table->update() is called for a more performant solution...

[2016-02-29 13:07] HavokInspiration commented on #199
I was more thinking about disabling the metadata caching feature when using the plugin. This should cover all cases and be easier to implement.

[2016-02-29 13:21] steinkel commented on #199
Yes, that would work too.
We could be causing some surprises if the migration is applied to a production environment AND the deploy script is not running orm_cache clear by mistake.

[2016-02-29 13:41] HavokInspiration commented on #199
That is a valid concern.

However, in my opinion, deployment issues are out of the plugin's scope. But I might be the only one feeling like that so I'm open to comments.
We can still disable the cache mechanism (to fix the issue you reported) but also add a ``orm_cache clear`` shell dispatch once the migration command was executed (need to check if that would work though) to address this specific

[2016-02-29 20:57] HavokInspiration commented on #199
PR #201 submitted.

[2016-02-29 20:57] #199 closed

[2016-03-01 18:19] CodeBlastr opened #202 "Fatal error, migrations not working"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2
* Migrations plugin version: a8f3eb8065bb516cd7349ed50daffc559aa10347
* Bake plugin version (if relevant): 78c53a1
* Database server (MySQL, SQLite, Postgres): MySql
* PHP Version: 5.5
* Platform / OS: Nginx / Mac

### What you did

trying to run pretty much any migrations command from

[2016-03-01 18:47] thiagosrios commented on #202
The same thing is happening to me.

* CakePHP Version: 3.1.11.
* Migrations plugin version: 1.5.6.
* Bake plugin version: 1.1.
* Database server (MySQL, SQLite, Postgres): Postgres
* PHP Version: 5.4.31
* Platform / OS: Apache / Windows 7 (Work enviroment)

[2016-03-01 18:57] josegonzalez opened #203 "Add support for specifying a nullable field"
Currently a user has to go in and manually update a migration if they want to allow the field to be nulled out, which is a bit annoying. It would be nice to be able to specify a nullable field, similar to how we do size.

Does anyone have any ideas around syntax for this?

[2016-03-01 20:04] AnderWeb commented on #202
Sorry, I made the report on the wrong repo.

As I said in my duplicate report, the issue is cause of the new Phinx interface method in [this commit](https://github.com/robmorgan/phinx/commit/3dbbbcec9acd945cc6b16afd8d68e0076ab266fd)

[2016-03-01 21:35] HavokInspiration commented on #202
PR #204 opened to address this issue.

[2016-03-01 21:35] #202 closed

[2016-03-01 21:43] HavokInspiration commented on #203
What about ``[null]`` next to the field type ?

[code]

[2016-03-01 21:52] josegonzalez commented on #203
What about text fields? They don't have a length, so a dumb user might do:

[code]

And we would maybe not have any idea what they are talking about.

[2016-03-01 22:08] HavokInspiration commented on #203
It might be doable with a sophisticated enough regex.

[2016-03-01 22:14] HavokInspiration commented on #203
Something like this one :

``^(\w*)(?::(\w*\[?(\d+|\bnull\b)\]?(\[?\bnull\b\]?)?))?(?::(\w*))?(?::(\w*))?``

See those tests :

https://regex101.com/r/oK0eS0/2
https://regex101.com/r/oK0eS0/3
https://regex101.com/r/oK0eS0/4

[2016-03-01 22:26] josegonzalez commented on #203
Alright cool, if you think this works, +1. I am not crazy about the syntax, but it's better than nothing.

What about default values for a field? Ideas on that?

[2016-03-02 08:18] HavokInspiration commented on #203
Mmm, if we throw in default values, we need a more explicit syntax than we already have. Something more descriptive, closer to an array.

Something like :

[code]

This way we can have whatever properties we need and adding them should not be that much hassle once the syntax is set.
I however have no idea if that can be implemented and be correctly parsed. This will need some serious testing.

[2016-03-02 08:20] HavokInspiration commented on #202
A new release has been tagged.
If you do a ``composer update``, this should upgrade the plugin to the new release and rollback phinx version to 0.5.1 and everything should be working again.

[2016-03-02 12:12] AnderWeb commented on #202
Any way we can track when the Phinx 0.5.2 will be supported? They included some new things like support for creating full-text indexes that are quite welcome.

[2016-03-02 12:39] HavokInspiration commented on #202
A release will be made when support for phinx 0.5.2 will be added.
You can be notified of new releases (and opened Pull Request) by "watching" the repository.

[2016-03-02 19:51] josegonzalez commented on #203
What about:

[code]
?

[2016-03-02 20:41] HavokInspiration commented on #203
There would be no way to specify all of that in one statement ?

[2016-03-02 20:41] josegonzalez commented on #203
I guess you could, but ideally we also support simpler methods

[2016-03-03 22:17] lorenzo commented on #203
A quick way of supporting nullable is doing something like this:

`email:string?` or `email:?string`

That emulates the nullable type hints of some languages, like hacklang

[2016-03-04 08:16] HavokInspiration commented on #203
@lorenzo I like the idea.

[2016-03-08 03:25] CodeBlastr opened #207 "migration_snapshot generated file, throws error when applying the migration"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2
* Migrations plugin version: cb8c82a
* Bake plugin version (if relevant): 02a9443
* Database server (MySQL, SQLite, Postgres): Postgres 9.5.1
* PHP Version: 7.0
* Platform / OS: Mac OS X Yosemite 10.10.5

### What you did
EXPLAIN WHAT YOU DID, PREFERABLY WITH CODE EXAMPLES, HERE.

1. ra

[2016-03-08 12:32] HavokInspiration commented on #207
Thanks for the detailed informations.
We will look into it.

[2016-03-08 21:31] HavokInspiration commented on #207
PR #208 opened.

[2016-03-08 21:31] #207 closed

[2016-03-19 10:40] half2me opened #211 "Baking snapshot from mysql changes longtext to text"
This is a (multiple allowed):
* [x] bug

* CakePHP Version: 3.2.5
* Migrations plugin version: 1.5.7
* Bake plugin version (if relevant): 1.2.3
* Database server MySQL 5.7.10
* PHP Version: 5.6.18
* Platform / OS: OSX 10.11

### What you did
I baked a snapshot of my database. I have a field called `data` with `LONGTEXT` type
`bin/cake bake migration_snapshot longtextdata --plugin Queue`

### Expec

[2016-03-24 18:08] HavokInspiration commented on #211
The problem comes from the CakePHP schema reflection tool.
I built a table with a ``LONGTEXT`` column and the schema reflection returns :

[code]

There's nothing that can currently be done on the migrations plugin side.
I'll open a ticket in the core repo to discuss this.

I will put on hold for the moment, pending what will be decided in the ticket.

[2016-03-24 18:28] HavokInspiration commented on #211
Please note that right now you can "fix" the generated migration file by specifying the length this way :

[code]

[2016-03-25 18:51] HavokInspiration commented on #187
Closing as there was no feedback on this.
I'll reopen if anything new comes up.

[2016-03-25 18:51] #187 closed

[2016-03-29 21:07] markstory opened #212 "Custom database seeding"
_From @tolawho on March 29, 2016 9:37_

This is a (multiple allowed):
* [x] feature-discussion (RFC)

In `Laravel`, I easy seed database with any seeders and any order i want.
![screenshot_2](https://cloud.githubusercontent.com/assets/12527881/14103484/9f796d04-f5ca-11e5-9ecd-69b820c301d5.png)

But, `Cakephp ` will run all available seeders in the target directory and only support in alphabet orde

[2016-03-29 21:07] markstory commented on #212
_From @burzum on March 29, 2016 10:53_

Having seeds that can't rely or depend on each other makes them useless for some scenarios.

So :+1: from me.

[2016-03-30 22:30] thinkingmedia commented on #211
@HavokInspiration I don't think this is a fix. This is actually the **correct** way to do it.

[2016-03-31 02:23] half2me commented on #211
@thinkingmedia that would change the migration to be MySQL specific. A longer TEXT field type should be for all supported databases.

[2016-03-31 06:37] HavokInspiration commented on #211
@thinkingmedia I didn't say it was not. The "fix" word was only applied in the context of the migration generated by bake being wrong because right now, CakePHP schema system always returns a ``text`` type whether it is ``tiny``, ``medium`` or ``long``. So it's impossible for the baking task to know which length to apply.

@half2me Eventually, the migration file will look like it is MySQL specific

[2016-03-31 08:26] half2me commented on #211
@HavokInspiration When you specify a 'limit' value to the TEXT field, phynx will automatically select the correct type to use: TEXT, LONGTEXT etc. So what I would suggest is when making a snapshot of the database, if the type is TEXT, don't use a 'limit' field. If the type is LONGTEXT or something with a larger or smaller limit, then the limit field be added to the migration file.

Basically if I

[2016-03-31 12:13] thinkingmedia commented on #211
@HavokInspiration sorry, I missed that. I have not looked at the code for generating migrations.

[2016-04-07 17:35] HavokInspiration commented on #212
This should indeed be more convenient.
It is under discussion in phinx : https://github.com/robmorgan/phinx/issues/737

Depending on how it is done (and how fast it is done) on phinx side, we could always implement it our way.

[2016-04-07 23:17] markstory opened #213 "Support namespaces in migration files."
_From @thinkingmedia on April 7, 2016 13:8_

This is a (multiple allowed):
- [ ] bug
- [ ] enhancement
- [x] feature-discussion (RFC)
- CakePHP Version: 3.2.6
- Platform and Target: Apache2, MySQL, PHP 7
### What you did
- Create an app and bake a migration file called `CreateImages`.
- Create a plugin and bake a migration file called `CreateImages`.
### Expected Behavior

The classes `CreateImage

[2016-04-07 23:17] markstory commented on #213
_From @dereuromark on April 7, 2016 13:16_

If this is a limitation maybe we should always prefix with the plugin or vendor name then?

[2016-04-07 23:17] markstory commented on #213
_From @thinkingmedia on April 7, 2016 13:34_

I would prefix only plugins but that's a good idea.

[2016-04-07 23:17] markstory commented on #213
_From @HavokInspiration on April 7, 2016 17:12_

Right now, migrations can not live under a namespace.
See https://github.com/cakephp/migrations/issues/139 and https://github.com/robmorgan/phinx/issues/168

So currently, only prefixing the migration classname as @dereuromark suggested would work.

[2016-04-11 17:25] steinkel opened #215 "Failed migrations should not return exit code 0"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.3
* Migrations plugin version: 1.5.7
* Bake plugin version (if relevant): not relevant
* Database server (MySQL, SQLite, Postgres): not relevant
* PHP Version: PHP 5.6.11-1ubuntu3.1
* Platform / OS: Ubuntu 15.10

### What you did
Run a migration getting an exception while deploying the

[2016-04-11 17:47] thinkingmedia opened #216 "Organize migrations by app version"
This is a (multiple allowed):
- [ ] bug
- [ ] enhancement
- [x] feature-discussion (RFC)
- CakePHP Version: 3.2.7
- Migrations plugin version: 1.5.7
- Bake plugin version (if relevant):
- Database server (MySQL, SQLite, Postgres): MySQL
- PHP Version: PHP 7.0.5
- Platform / OS: Windows 10
### Current Behavior

Migration files are stored in a single folder with time stamps in the name for sequence.

[2016-04-11 17:48] josegonzalez commented on #216
Why not place the version number in the migration filename?

[2016-04-11 17:49] thinkingmedia commented on #216
@josegonzalez Too many files is one reason. After working on an app for a year or more the list will grow very long.

[2016-04-11 19:34] HavokInspiration commented on #216
There's this PR hanging on the phinx repo : https://github.com/robmorgan/phinx/pull/716
That would solve one part of the problem (I did not look at the specifics, but it would seem). We'd be able to extend it a bit if we went to (specifying the folder name through an option for instance).

The other part would be to allow bake (whether it is for snapshot or "simple" migrations) to save the file in

[2016-04-17 18:11] thinkingmedia commented on #215
This issue exists for seeding as well.

[2016-05-08 14:44] half2me opened #221 "Baking snapshot doesn't include 'ON UPDATE' trigger"
This is a (multiple allowed):
* [x] bug

* CakePHP Version: 3.2.8
* Migrations plugin version: 0.4.1
* Bake plugin version (if relevant): 1.2.4
* Database server MySQL 5.6
* PHP Version: 5.6.21
* Platform / OS: OSX 10.11.4

### What you did
`bin/cake bake migration_snapshot Initial`
I have a table with a column `modified` SQL code:
[code]

### Expected Behavior
It should generate the following cod

[2016-05-08 14:46] half2me commented on #221
Disregard this please! I mixed up the 'default' with the foreign key...

[2016-05-08 14:46] #221 closed

[2016-05-11 20:24] HavokInspiration commented on #104
PR #217 has been opened to address this.

[2016-05-11 20:24] #104 closed

[2016-05-20 18:06] HavokInspiration commented on #215
@thinkingmedia That normal since migrating and seeding goes through the same shell class.

PR #224 opened.

[2016-05-20 18:06] #215 closed

[2016-05-22 20:08] plan8studios opened #226 "Unable to bake migration"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.9
* Migrations plugin version: 0.4.1
* Bake plugin version: 1.1
* Database server: MySQL Ver 14.14 Distrib 5.5.46, for debian-linux-gnu (x86_64) using readline 6.3
* PHP Version: PHP 5.6.14-1+deb.sury.org~trusty+1
* Platform / OS: Ubuntu 14.04.3 LTS

### What you did
Tried to `bake` a m

[2016-05-22 20:58] HavokInspiration commented on #226
This is a regression introduced by #222.
PR #227 was opened to fix it.

[2016-05-22 20:58] #226 closed

[2016-05-23 08:32] charliee22 opened #228 "bake migration bug"
This is a (multiple allowed):
* [x] bug (not sure)
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.9
* Migrations plugin version: ~1.0
* Bake plugin version (if relevant): ~1.1
* Database server (MySQL, SQLite, Postgres): SQLite
* PHP Version: PHP 5.5.31
* Platform / OS: OS X EL Capitan

### What you did
I did this:
`bin/cake bake migration CreateProducts name:string descr

[2016-05-23 09:07] HavokInspiration commented on #228
Duplicate of #226
PR #227 was opened to fix it. It should be merged shortly and a new release will be made after that.
Sorry for the inconvenience.

[2016-05-23 09:07] #228 closed

[2016-05-23 16:43] segy opened #229 "Fatal error with abstract table class before migrations run"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.9
* Migrations plugin version: 1.6.0
* Bake plugin version (if relevant): not relevant
* Database server (MySQL, SQLite, Postgres): MySQL 5.6.28
* PHP Version: 5.6.14-0+deb8u1
* Platform / OS: Debian 8.2

### What you did
I have an abstract table class located in src/Model/Table (it act

[2016-05-23 17:04] Spriz opened #230 "bake migration "create" throws error on 1.6.0"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: v3.2.9
* Migrations plugin version: 1.6.0
* Bake plugin version (if relevant): 1.2.4
* Database server (MySQL, SQLite, Postgres): mysql  Ver 15.1 Distrib 10.0.25-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
* PHP Version: PHP 5.6.21-9+donate.sury.org~trusty+1 (cli)
* Platform /

[2016-05-23 20:12] HavokInspiration commented on #230
Duplicate of #226 and #228
PR #227 will fix it. A release will be made shortly after that.
Sorry for the inconvenience.

[2016-05-23 20:12] #230 closed

[2016-05-23 20:15] HavokInspiration commented on #229
Interesting.
Everything operates normally except for this error ? And everything worked fine with 1.5.8 ?

I'll look into it to see if I can reproduce.

[2016-05-23 20:37] HavokInspiration commented on #230
Migrations 1.6.1 released. It should fix the problem.

[2016-05-23 20:37] HavokInspiration commented on #228
Migrations 1.6.1 released. It should fix the problem.

[2016-05-23 20:37] HavokInspiration commented on #226
Migrations 1.6.1 released. It should fix the problem.

[2016-05-23 20:38] Spriz commented on #230
Sorry about the duplicate :-)  GJ

[2016-05-23 21:00] HavokInspiration commented on #229
Can you give me specifics ?
Class examples, migration files examples... anything that can help me reproduce the issue, because I've had no luck so far.
Thanks !

[2016-05-24 12:34] segy commented on #229
Hello

sorry for late response. I tried it simply on fresh copy of `cakephp/app`.

Create two files in src/Model/Table:

[code]

When you run `bin/cake migrations migrate` output is:

[code]

[2016-05-24 12:46] thinkingmedia commented on #229
I have an abstract `AppTable` class in my app and migrations run fine.

[2016-05-24 12:52] thinkingmedia commented on #229
In your migration output it looks like it's running a second time. Why is there output after `All Done. Took 0.0005s`

Do you have more than one data source?

[2016-05-24 13:53] segy commented on #229
As I said, I created a new project using `composer create-project cakephp/app` and added only these two files. Nothing more. So I hope it's easily reproduceable.

[2016-05-24 13:56] HavokInspiration commented on #229
Thanks. I'll give it a look with the extra informations.
It probably comes from the new ``dump`` command that is executed after a ``migrate`` or a ``rollback`` command and creates the comparison file for the new diff feature (which would explain why it gives the impression to run twice, since the shell is dispatched).

[2016-05-25 21:18] HavokInspiration commented on #229
PR #231 opened to fix that.

[2016-05-25 21:18] #229 closed

[2016-05-26 07:54] segy commented on #229
thanks

[2016-05-26 19:54] HavokInspiration commented on #211
I tested again since 3.2.7 was released including the necessary improvements in the Schema management classes and it now properly works (see https://github.com/cakephp/cakephp/pull/8543 and https://github.com/cakephp/cakephp/pull/8605)

The thing to know is that it will use a type ``text`` whatever the length is and will use a constant value from the ``Schema\Table`` class matching the length. The

[2016-05-26 19:54] #211 closed

[2016-05-26 20:51] HavokInspiration commented on #212
Since phinx has been stale for month, I started working on this.
I have a base implementation working but it needs some more work to make the output less verbose.

[2016-05-28 12:55] robertscherer opened #232 "Diff Feature: Why is require-table enabled?"
Hi,

first off thanks for the diff feature - this fits our workflow perfectly.

One thing I stumbled upon while playing with it was that the `schema-dump-default.lock` contains just tables with have an ORM Table object in the `App\Model\Table` namespace.

This happens because in `Migrations\Command\Dump::execute()` the `require-table` param is hardcoded to `true`.

Is there a reason for this?

Tha

[2016-05-28 13:07] lorenzo commented on #232
I agree, it should probably default to the same as the rest of the commands. I was surprised by this feature yesterday when doing the workshops

[2016-05-28 17:29] HavokInspiration commented on #232
The main reason it is forced is because of tables that could be created from plugins.
Using the Table classes is the only way to ensure we won't add tables from plugins to diff.
I have yet to find a better way to deal with this.

It can become an option, that would be fine with me. It will be inline with baking a snapshot.
The logic for baking a snapshot is the following : if you bake for the app,

[2016-05-28 17:41] HavokInspiration commented on #232
But it should be known that when migrating or rolling back, when the dump is created it will add all tables found in the dump file.

[2016-05-28 17:45] HavokInspiration commented on #232
Giving this more thought, it should be known that when migrating or rolling back, when the dump is created it will add all tables found in the dump file.
That would mean that we might need to add a ``require-table`` kind of option to migrate and rollback as well ?
Adding it to the dump command and the baking diff class should be ok, but to migrate and rollback, I'm not so sure...

Unless I'm over

[2016-05-28 19:09] robertscherer commented on #232
These are good points, I didn't think of the rollback scenario. Still, usually if we talk about a dump we mean the whole database.

I don't think you're overthinking this, but also I'm not sure if there's an easy solution here.

[2016-05-29 12:53] lorenzo commented on #232
I understand that sometimes tables are created from plugins... but I still think it is a better default to follow the rest of the commands and not require the table classes to be present.

[2016-05-30 06:55] HavokInspiration commented on #232
I can add it in. I have a feeling there will be some case where I'll need your opinion for this @lorenzo.
I might ping you on slack.

I'll finish the work for #212 and take care of this.

[2016-05-30 08:21] ifunk opened #233 "Adding and removing a field in the same diff causes PHP syntax error"
This is a BUG

* CakePHP Version: 3.2.10.
* Migrations plugin version: 1.6.1.
* Bake plugin version (if relevant): 1.2.4.
* Database server (MySQL, SQLite, Postgres): MySQL 5.6.17
* PHP Version: 5.6.14
* Platform / OS: Mac OS X 10.11.5

I ran `migrate` which created the `schema-dump-default.lock` file. I then made a change to the database and ran:

[code]

This generated the following migration fi

[2016-05-30 12:04] HavokInspiration commented on #233
Thanks, I'll take a look later today or tomorrow.

[2016-05-30 21:42] HavokInspiration commented on #233
PR #234 opened

[2016-05-30 21:42] #233 closed

[2016-06-01 16:17] ypnos-web commented on #232
I tried this feature today to find that many tables in my database where part of the diff. This does not make any sense as my initial migration file already contains all these tables (created via `migration_snapshot`).

Consider doing this:
[code]

I understand that you are already working on resolving this issue, just wanted to suggest you ensure that the default behavior of these two commands wi

[2016-06-01 19:38] HavokInspiration commented on #232
@ypnos-web It actually should not be.
If you have a snapshot, the tables it contains should be in the dump (generated after baking the snapshot) and excluded from the diff (unless there were changes made to it).
Unless you baked before the feature was implemented in which case you need to generate a dump (see http://book.cakephp.org/3.0/en/migrations.html#generating-a-diff-between-two-database-sta

[2016-06-05 00:18] Sacro opened #235 "renameTable doesn't work"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.10
* Migrations plugin version: 1.6.1
* Database server (MySQL, SQLite, Postgres): 10.1.14-MariaDB
* PHP Version: 7.0.7
* Platform / OS: Arch Linux

### What you did
EXPLAIN WHAT YOU DID, PREFERABLY WITH CODE EXAMPLES, HERE.
Give as much details as possible (preferably using [Gist](http

[2016-06-05 00:23] Sacro commented on #235
Ah, I fixed the code by changing it to

[code]

However the documentation provided should make that clear.

[2016-06-06 06:47] HavokInspiration commented on #235
Thanks for reporting this.
I can update the doc.

[2016-06-06 18:12] HavokInspiration commented on #235
PR opened in the doc : https://github.com/cakephp/docs/pull/4052

[2016-06-06 18:12] #235 closed

[2016-06-07 20:01] HavokInspiration commented on #212
I opened PR #236 to implement the feature.

[2016-06-07 20:01] #212 closed

[2016-06-08 12:24] dereuromark opened #237 "autoIncrement option error"
Please see https://github.com/cakephp/bake/issues/255

[2016-06-08 12:38] ADmad opened #238 "autoIncrement option error"
_From @dereuromark on June 8, 2016 9:22_

Yesterday, `bin/cake` bake migration_snapshot baked:

[code]

Running migrations migrate afterwards on a fresh db table gets:

[code]

Also `->addPrimaryKey(['id'])` is unknown and errors.
Did someone forget the  constraints of the phinx dependency to set them up?

Latest stable and dev master of this plugin are affected.

Tested with MySql.

_Copied from

[2016-06-08 12:38] ADmad commented on #238
_From @HavokInspiration on June 8, 2016 12:9_

Wrong repo ?

[2016-06-08 12:38] ADmad commented on #238
_From @dereuromark on June 8, 2016 12:13_

Darn. Yeah

But actually I baked it, so it was invalid bake code result - so maybe related to this repo as well?

[2016-06-08 12:38] ADmad commented on #237
Moved to #238

[2016-06-08 12:38] #237 closed

[2016-06-08 13:18] ypnos-web commented on #232
I had run a `migrate` command before which created the dump file. But I also tried this again today:

[code]

The result is the same: the Tester migration creates all tables without classes in `up()` and drops all of them in `down()`.

Which files in particular are you interested in?

[2016-06-08 14:30] HavokInspiration commented on #238
Nop, it's only related to the migrations plugin.
Can you please provide the schema db that's doing the wrong bake file ?

[2016-06-08 14:32] HavokInspiration commented on #238
And the full output of the bake file as well

[2016-06-08 14:35] dereuromark commented on #238
[code]

[2016-06-08 14:50] dereuromark commented on #238
Ah I moved it from up() to change() which might have broken it
Why are we not using change() right away, which seems to be a bit more useful as it provides down() automatically with it?

[2016-06-08 18:21] HavokInspiration commented on #238
What I did :

- ``composer create`` a new app
- set up a db with the schema you provided
- ``bin/cake bake migration_snapshot Initial``

Got the following result : https://gist.github.com/HavokInspiration/48a23dba1af3b9b458856e711eb4f33f

Can you provide more details on your setup ?

As for your question about up/down versus change, it is mostly to better deal with FK constraints.

[2016-06-08 18:31] HavokInspiration commented on #232
@ypnos-web I need to understand your setup a bit more.

I need :
- a list of all your tables. Mark the one from a plugin (with the name of the plugin) and from your app.
- list of tables that have a model ``Table`` class

And what did you do ? Bake a snapshot ? And after that, you just baked a diff ?

Basically, I need to know your setup and each step you did so I can reproduce the issue and know

[2016-06-09 08:48] makallio85 opened #239 "Undefined property: Migrations\Command\Dump::$connection"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP 3.2.10
* Migrations 1.6.1
* Bake 1.2.4
* MariaDB 10.1.9
* PHP 7.0.0
* Windows 7 x64

### What you did
In this gist ( https://gist.github.com/makallio85/d3af39cd211d9255c3020c8e7fdbfd5f ), migrating causes InternalServerException

Migration file was created with bake tool with earlier version of migr

[2016-06-09 11:48] HavokInspiration commented on #239
Thanks for the file and the output. I'll try to reproduce.

[2016-06-09 12:42] dereuromark commented on #238
When having compose update everything clean (and tmp cleared)
I also get
[code]

[2016-06-09 13:00] HavokInspiration commented on #238
Yeah, I fixed that already in another PR.
I thought I tagged the release but it seems I forgot 😄 Will do it tonight if I get the time.

But even with a clean app, what does the generated file look like ?

[2016-06-09 21:07] HavokInspiration commented on #239
I mimicked your setup (migrations from a plugin), while I did not encounter the same error, I got an error from the same line (I actually don't understand the error you are getting in the place you are getting it).

The error was because my plugin was not declared in the autoload-psr4 property of my composer file.
Is it the same for you ? Is your plugin not declared ?

I'll try to provide a fix to

[2016-06-09 21:09] HavokInspiration commented on #239
It somehow has some link to #232 by the way.

@makallio85 Do you have ``Table`` class in your plugin for those two tables ?

[2016-06-09 21:16] HavokInspiration commented on #239
OK, strike that one, I was running code on dev-master and not 1.6.1...
I'll study that with the good code base... Sorry.

[2016-06-09 21:53] HavokInspiration commented on #239
Ok I found a fix. I'll wait for #236 to be merged because I need something from it to properly fix this.
Thanks for the report !

[2016-06-12 11:11] HavokInspiration commented on #239
PR #241 opened

[2016-06-12 11:11] #239 closed

[2016-06-12 11:20] HavokInspiration commented on #238
@dereuromark With a brand new app, warning in the terminal aside that will be fixed when 1.6.2 rolls out, what does the complete generated file looks like ?

[2016-06-15 04:31] eAliwei opened #242 "Create Migration File Warning Error"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version:3.2.10
* Migrations plugin version: 1.6.1
* Bake plugin version (if relevant): 1.2.4
* Database server (MySQL, SQLite, Postgres): MySQL 5.7.11
* PHP Version: PHP 7.0.7
* Platform / OS: OS X EI Capitan 10.11.6 Beta

### What you did
[code]

### Expected Behavior
EXPLAIN WHAT IS TO BE EXPECTED

[2016-06-15 12:22] dereuromark commented on #238
I just wait for the new release and maybe its all good then.

[2016-06-16 18:48] HavokInspiration commented on #242
I can not reproduce with plugin version 1.6.2 (just released).
Can you update and try again and tell me if it is still doing it ?

[2016-06-16 18:50] HavokInspiration commented on #238
@dereuromark 1.6.2 released just now

[2016-06-16 20:17] HavokInspiration commented on #242
Mmm, I was able to reproduce by removing the ``@`` here in bake :
https://github.com/cakephp/bake/blob/master/src/View/BakeView.php#L245

I'll check out if it is bake related or migrations related.

[2016-06-16 20:28] HavokInspiration commented on #242
Did you define a error handler function using ``set_error_handler()`` ? (see http://php.net/manual/en/function.set-error-handler.php

If so did you deal with the case where ``error_reporting()`` returns 0 in your function ? (see http://php.net/manual/en/function.set-error-handler.php#112881)

That could explain why you are experiencing it.

[2016-06-18 23:11] thinkingmedia opened #243 "New lock file is added to Migrations folder after migration."
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.10
* Migrations plugin version: 1.6.1
* Database server (MySQL, SQLite, Postgres): MySQL v5.7.10
* PHP Version: PHP 7.0.3
* Platform / OS: Windows 10

### What you did

Run `bin/cake migrations migrate`

### Expected Behavior

Migration is performed without any changes to file system.

[2016-06-18 23:17] lorenzo commented on #243
This is expected, add the file to our source control

[2016-06-18 23:17] #243 closed

[2016-06-18 23:17] lorenzo commented on #243
I'll make a note in the book about it

[2016-06-19 13:03] dereuromark opened #244 "cake migrations dump should mention details"
The

    cake migrations dump

should mention how it creates that dump.
Like from previous migration files or directly from the current DB schema.

Currently the problem seems to be that a freshly generated dump file will result in a lot of (wrong because unchanged) tables for the next "diff" baked with `cake bake migration_diff ...`.

Mysql and Cake3.2

[2016-06-20 08:36] dereuromark opened #245 "Empty DB should not error"
If you got an empty table and latest release:

    bin/cake bake migration_snapshot Init

gets
[code]
and
[code]

[2016-06-20 09:00] dereuromark opened #246 "Add Reset command"
I would like to propose adding a

[code]

command which would, after confirmation, truncate the table.
This is quite useful when working with migrations at the beginning and there are lots of invalid ones already added and it is easier to just reset and `mark_migrated *` afterwards to be at the step as before.

Should be easy to do - if only I knew where to hook in the command name so it can be in

[2016-06-20 09:49] jhli commented on #246
Be aware of foreign key constraints. E.g. That command would need to reset all tables? In one transaction?

[2016-06-20 11:12] dereuromark commented on #246
It wouldn't change the tables or data. Only truncating the "phinx" log table.
I was mainly looking for a migration shell way to do the opposite of `mark_migrated *` etc.
Like when you want to manually re-mark the migrations as migrated.

[2016-06-20 11:20] HavokInspiration commented on #246
It should not be too hard to do.

[2016-06-20 11:42] HavokInspiration commented on #244
This issue is potentially linked to #232, but I'm not really sure. I didn't get a chance to look into it to see what is going on.

But out of curiosity, can you explain in details what you are doing (schema db, commands, etc.) and what you get ?
This will give me another scenario to test and allow me to see if this is linked to #232 or not.

[2016-06-20 11:48] ionas commented on #246
Sounds good then @dereuromark !

[2016-06-20 11:58] dereuromark commented on #244
Windows and latest stable bundle version.
Removing the .lock file from Migrations folder and running the dump command.
Then running the bake migration_diff - which should have been outputting a "no changes" file IMO.

[2016-06-20 15:39] thinkingmedia commented on #246
Resetting seems a little broad and generic. Maybe it should be something like

"migrations log clear"

That way in the future we can add more commands related to the phinx log?

[2016-06-21 11:09] half2me opened #247 "Timestamp default value bug on OSX"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.11
* Migrations plugin version: 1.6.2
* Database server (MySQL, SQLite, Postgres): MySQL 5.7.13 (same error with older versions)
* PHP Version: 5.6.21
* Platform / OS: OSX 10.11.5

### What you did
I ran my migrations just as I would on any other system. (Works fine on travis container-

[2016-06-21 18:38] HavokInspiration commented on #245
Can you try clearing your bake cache ?
I don't have such an error and it should be fixed with 1.6.2 with this commit : https://github.com/cakephp/migrations/commit/d1eae3a7ccbc7aec0fa4a90343f64f4100fb82fd

[2016-06-21 18:39] HavokInspiration commented on #242
@eAliwei Any update on this ?

[2016-06-21 18:40] HavokInspiration commented on #238
@dereuromark Same suggestion as for #245 : can you try clearing your bake cache ?

[2016-06-21 18:52] HavokInspiration commented on #232
@ypnos-web Are you using Windows by any chance ?

[2016-06-21 19:36] HavokInspiration commented on #232
I opened PR #248.
It should fix the issue you have @ypnos-web.

[2016-06-21 19:36] #232 closed

[2016-06-21 19:39] HavokInspiration commented on #244
I could reproduce and opened #248 to fix what you are experiencing @dereuromark

I can a note in the docs about what the dump command does.
FYI, it will now (after #248 is merged) add every schemas from the tables it finds in your connection and add them to the dump file.

[2016-06-21 19:39] #244 closed

[2016-06-21 19:42] HavokInspiration commented on #247
That is one weird issue.

I'll try to see if I can reproduce it on my work laptop. It might take some time, I have nothing set up locally on it. If anybody passing by and wants to take a look at this, this will be very welcomed.

[2016-06-21 20:51] half2me commented on #247
@HavokInspiration IKR? I haven't tried dumping the SQL commands which get generated, frankly I'm kind of lost on how to do that, maybe if I enabled logging all queries on the server, I could post the commands that are being generated, and it might help.

[2016-06-21 21:24] half2me commented on #247
So I just enabled query logging on my mysql, and here is what is being generated:
[code]
Which seems perfect to me. Yet the next query is a rollback, because this SQL fails even when I try to run in manually.
The server modes are (default 5.7 modes): `ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION`

[2016-06-21 21:32] half2me commented on #247
Okay, so this is probably a bug in MySQL, not in migrations :) Sorry for the false alarm.

This query runs fine:
[code]
While this one fails with `[42000][1067] Invalid default value for 'modified'`:
[code]

[2016-06-22 02:43] eAliwei commented on #242
@HavokInspiration Thanks
I closed xdebug extension
Warning disappears

[2016-06-22 02:43] #242 closed

[2016-06-22 05:50] nitincoded commented on #203
I've worked on a quick patch that served my need recently. Being a former C# and Java developer, my thought aligned with @lorenzo 's suggested syntax

Example:

I've put up my fork on GitHub at [nitincoded/migrations](https://github.com/nitincoded/migrations)

I would love to be able to bring the changes into [cakephp/migrations](https://github.com/cakephp/migrations) but would need to learn about

[2016-06-22 08:13] lorenzo commented on #203
great news @nitincoded !

[2016-06-22 08:45] dereuromark commented on #203
You are probably referring to https://github.com/cakephp/migrations/compare/master...nitincoded:patch-1 - you can directly link to your changes as diff this way to make it easier to communicate what you did.

[2016-06-22 14:16] nitincoded commented on #203
@dereuromark : Thank you for the heads up. This is my first go at contributing to a project on GitHub.

The diff of the change is at:
https://github.com/nitincoded/migrations/commit/bd453eee3817a6c55d1c4f56c68088041fff84b3

I also added a test for nullable columns to the PHPUnit test case, and submitted a pull request bearing the same name as this GitHub issue.

[2016-06-22 20:23] HavokInspiration commented on #203
PR #249 opened to add the feature.

[2016-06-22 20:23] #203 closed

[2016-06-22 20:33] HavokInspiration commented on #247
Thank you for looking into it.

According to the answer given to your ticket, the problem comes from the ``explicit_defaults_for_timestamp`` setting in MySQL and strict mode which seems to be a default in 5.7.
So indeed not a problem with the plugin itself.

[2016-06-22 20:33] #247 closed

[2016-06-28 11:41] annuh commented on #243
@lorenzo Should this lock file be included in a .gitignore?

I keep getting git conficts when I try to fetch my git repo on the productions servers, because a previous migrations changed the lock-file on the production-server.

[2016-06-28 12:37] lorenzo commented on #243
I think we are missing a flag to run migrations without producing the lock file. This file should be, in my opinion, in version control, but it is definitely not ideal that it gets re-written in production for no reason.

[2016-07-02 19:55] sdustinh opened #250 "Making output formatting useful"
This is a (multiple allowed):
- [ ] bug
- [x] enhancement
- [x] feature-discussion (RFC)
- CakePHP Version: 3.2.11
- Migrations plugin version: 1.6.2
- Bake plugin version (if relevant): 1.2.4
- Database server (MySQL, SQLite, Postgres): MySQL 5.6.30
- PHP Version: 7.0.8
- Platform / OS: Ubuntu 14.04
### What you did

[code]

[code]

My actual use case is that I am writing a `bin/cake migrate` she

[2016-07-03 08:44] HavokInspiration commented on #250
So if I understand correctly, you want only the json output without all the noise around it.
By noise, I mean this :

[code]

And so on.

You just want

```php [{"status":"down","id":"20160525182515","name":"Users"}]```

to be returned, correct ?

[2016-07-04 04:30] ifunk opened #251 "More comprehensive diff logic"
I am excited to see the diff logic make the list of functionality in this plugin, however there are few features I would love to see.
- Maintain column ordering
- Support for rename detection (columns and tables)

Is there any intention on developing this plugin further to cover those areas?

I have a few ideas on how rename detection could be done non-interactively, but you could also fallback to

[2016-07-04 04:36] dereuromark commented on #251
How would column ordering work without loosing any date (in those columns)?
How does rename detection work when you add a field and delete another one and those are of a similar type? I think the false positives here are too likely and make this risky.

[2016-07-04 05:18] ifunk commented on #251
Column ordering can be done using the `after` option. eg. http://docs.phinx.org/en/latest/migrations.html#valid-column-options

The problem with using `after` is since it's based on column names, you could hit a conflict if a co-worker hasn't pushed their migrations before you create yours (and rename or delete the field that your migration is referencing). But in many cases this might be OK, as l

[2016-07-04 08:02] lorenzo commented on #251
This is technically impossible, or at least so difficult that is close to impossible.

[2016-07-05 04:23] sdustinh commented on #250
Basically, yeah. The problem I have with it is I can't utilize the json output because of the other stuff. I tried to capture it and filter on my own but there was no easy way to handle it that I could see.

[2016-07-05 12:15] TatzyXY opened #252 "Should the file "schema-dump-default.lock" be committed in a Git repo?"
Hello,

I have a short question should the "schema-dump-XY.lock" file be committed in a git repo?
Like a composer.lock file?

I think it makes sense if it will be committed cause then CakePHP can compare the .lock file with the current database but I am really not sure if it is working like this, as I think.

@lorenzo @josegonzalez @HavokInspiration

[2016-07-05 12:50] lorenzo commented on #252
Yes, it should be committed

[2016-07-05 12:58] ionas commented on #252
In there is some serialized form of the schema as far as I remember. What's the point of that?

[2016-07-06 21:00] ifunk commented on #251
@lorenzo After there any factors that I'm not considering? If we could identify the table/column via the comment attribute, this could be fairly straightforward.

[2016-07-07 07:09] lorenzo commented on #251
Using the comments is a clever idea, but not acceptable to many. For example, I do use comments all the time for explaining what a table or column is, and I would not want that comment to be altered or replaced with something I did not put there.

Another problem is people manually copying tables form SQL to another table. I do that often as well. By doing this I would accidentally duplicate the c

[2016-07-09 18:02] sdustinh opened #253 "Rollback throws exception after it runs."
This is a (multiple allowed):
- [x] bug
- [ ] enhancement
- [ ] feature-discussion (RFC)

[code]
### What you did

All of the migrations were created with bake. The short of it is i ran something like this:

[code]

More details below.
### Actual Behavior

Basically, it looks like the `migrate`/`seed`/`rollback` commands do as they are supposed to. The problem looks like **after** the rollback com

[2016-07-18 01:47] ifunk commented on #251
@lorenzo I still this can be achieved, and make it opt-in, but I get your points. The main purpose for opening this ticket was to see if it was on the roadmap (which is now evident that it's not).

What about field ordering? Is this a problem for anyone currently?

[2016-07-20 21:00] theraccoonbear opened #254 "Not correctly handling migrations for schemas other than public with PostgreSQL"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: v3.2.12
* Migrations plugin version: 0.4.3
* Bake plugin version (if relevant): (this pertains to `migrations` not `bake`, as far as I know, and I'm unsure how to find the bake plugin version)
* Database server (MySQL, SQLite, Postgres): PostgreSQL 9.3.11 on x86_64-unknown-linux-gnu, compil

[2016-07-27 20:53] theraccoonbear commented on #254
Can anyone else confirm that this problem exists?

[2016-07-28 08:04] lorenzo commented on #254
We are apparently passing the schema information to phinx, as seen here:

https://github.com/cakephp/migrations/blob/master/src/ConfigurationTrait.php#L105-L107

Maybe you can debug around those lines and see if there is any problem there?

[2016-07-28 08:05] lorenzo commented on #254
And in phinx the schema name is used: https://github.com/robmorgan/phinx/blob/a79b374e1404f7be01fe875cb8b1d2352f74cb09/src/Phinx/Db/Adapter/PostgresAdapter.php#L1166-L1170

[2016-07-29 13:02] zejji opened #255 "Support for MySQL "varbinary" type"
This is an:
- [ ] enhancement

Would it be possible to update the Phinx version used by the CakePHP migrations plugin?

In particular, the current master version of Phinx has support for the MySQL **varbinary** type (added by [this](https://github.com/robmorgan/phinx/commit/91dc26921e59275cb5974466bb929aa195780725) commit), which we make extensive use of in our database. Currently, there is no way

[2016-08-12 20:35] markstory opened #256 "Migration snapshot for plugin, no schema dump default lock option"
_From @LubosRemplik on August 12, 2016 13:48_

This is a enhancement
- CakePHP Version: 3.2.13
### What you did

`bin/cake bake migration_snapshot -p Admin Init`
### Behavior

`config/Migrations/schema-dump-default.lock` in Admin plugin generated which is fine as I have been told it is used for [Generating a dump file for the diff baking feature](http://book.cakephp.org/3.0/en/migrations.html#dump

[2016-08-15 10:15] hiromi2424 opened #257 "Migrating to Phinx 6.x"
This is a (multiple allowed):
- [ ] bug
- [x] enhancement
- [ ] feature-discussion (RFC)

Is there any plan to use phinx 6.x?
Currently phinx version is fixed as 5.3 in this plugin.
Phinx 6.x has more power of table/column settings, e.g. encoding and collations.
If no features added to this plugin, It is appreciated to place phinx 6.x.

[2016-08-31 15:23] berarma opened #258 "Exceptions are turned into useless error messages"
This is a (multiple allowed):
* [ ] bug
* [x] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.3.2
* Migrations plugin version: 8c67ea5e8ed5fd778050652175688aa3593d18c1
* Database server (MySQL, SQLite, Postgres): MySQL 5.5.49
* PHP Version: 5.6.24

This is a request/suggestion to always show a backtrace when an exception gets thrown. The current error message is cute but useless.

[2016-08-31 15:30] berarma commented on #250
I think the "quiet" option should be what you need, but it suppresses ALL output, instead of just the messages.

If you're on Linux this workaround may work supposing the json output is always the last line in the output:
`bin/cake migrations status -f json | tail -n 1`

Or you could suppress the first lines that you don't want if they're always in the same number:
`bin/cake migrations statuys -f

[2016-09-03 19:31] lorenzo commented on #258
Do you mind posting a screenshot of how it looks like when you activate the verbose flag vs without it?

[2016-09-05 11:17] berarma commented on #258
Here's an example:
http://pasteboard.co/hdS8feAi4.png

[2016-09-05 17:32] lorenzo commented on #258
Ok, I see what you mean now. It looks like we will have to report this to phinx or see how it can be worked around

[2016-09-05 19:34] berarma commented on #258
I think the problem might be in this plugin. While debugging my problem I saw the Exception was being catched by the Symfony\Component\Console\Application object. It has an option to catch all the exceptions thrown by the underlying code that seems to be on by default.

[2016-09-05 20:05] lorenzo commented on #258
@berarma ok, if you find where in this plugin the problem might be it would be of great help!

[2016-09-08 10:46] berarma commented on #258
I've submitted a PR.

[2016-09-08 17:58] #258 closed

[2016-09-30 11:19] dakota opened #264 "inconsistencies between bake migration and migrations create"
_From @nbj on September 30, 2016 10:39_

This is a (multiple allowed):
- [x] bug
- [ ] enhancement
- [ ] feature-discussion (RFC)
- CakePHP Version: 3.3.
- Platform and Target: Vagrant, ubuntu 14.04, php 7.
### What you did
1. cake bake migration CreateUsers
2. cake migrations create CreateUsersTable
### Expected Behavior
1. new migration file: <timestamp>_create_users_table.php
2. new migration f

[2016-09-30 11:19] dakota commented on #264
_From @VarCI-bot on September 30, 2016 10:39_

nbj, please include the CakePHP version number you are using in your description. It helps us debug your issue.

--
_Automatic update by [Var.CI](https://var.ci)_

[2016-09-30 11:19] dakota commented on #264
_From @nbj on September 30, 2016 10:43_

Updated with missing info

[2016-09-30 11:27] dakota opened #265 "camelCase vs PascalCase in cake migration create"
_From @nbj on September 30, 2016 10:11_

This is a (multiple allowed):
- [ ] bug
- [x] enhancement
- [ ] feature-discussion (RFC)
- CakePHP Version: 3.3.
- Platform and Target: vagrant, ubuntu 14.04, php 7.
### What you did

bin/cake migrations create createUsersTable
### Expected Behavior

A migration file named <timestamp>_create_users_table to be created
### Actual Behavior

Error saying migrat

[2016-10-03 13:32] JoepRoebroek opened #266 "Columns with type string (varchar) are printed as float if they contain a number"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.3.5
* Migrations plugin version: 1.6.3
* Database server (MySQL, SQLite, Postgres): MySQL 5.5.52
* PHP Version: 7.0.11
* Platform / OS: Preferably with version number: Ubuntu 14.04, locale: nl

### What you did
* Migration file was created with the bake tool using command migration_snapsh

[2016-10-04 22:39] dereuromark opened #267 "cake bake migration_snapshot should exclude phinxlog tables"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: latest
* Migrations plugin version: latest

### What you did

    cake bake migration_diff Foo

### Expected Behavior
Nothing should have changed.

### Actual Behavior

    $this->table('geo_phinxlog', ...

has been added to the migration file, which is the phinxlog table of the geo plugin,

[2016-10-16 22:38] dereuromark commented on #252
@lorenzo I am not so sure about it being commited.
Or we need to find a way for the server to not modify it (--no-lock ?), because as of now every migration gets you a modified file on server:

    modified:   config/Migrations/schema-dump-default.lock

And a git pull will then abort because of the conflicts here.

[2016-10-16 22:40] dereuromark commented on #256
You can also simply add it to your .gitignore list. That would solve the issue without any need for code addition.

[2016-10-21 23:07] HavokInspiration commented on #267
#263 seems to have fixed this.

[2016-10-21 23:07] #267 closed

[2016-10-21 23:09] HavokInspiration commented on #191
#260 implements this.

[2016-10-21 23:09] #191 closed

[2016-10-24 19:31] HavokInspiration commented on #238
ping @dereuromark

Is it still an issue ?

[2016-10-24 19:35] HavokInspiration commented on #245
ping @dereuromark
Is it still an issue ?

[2016-10-24 19:54] HavokInspiration commented on #254
Hi.
I tried this locally and I can not reproduce using the last version of the plugin.

Here is my `default` connection config :

[code]

I ran a simple migration and it created the `phinxlog` table in the `dev` schema (and left public untouched).
Is there anything we are missing to reproduce what you are experiencing ?

[2016-10-24 20:06] HavokInspiration commented on #253
@sdustinh Would it be possible for you to provide us the migrations and seeds file please ?

[2016-10-24 22:43] dereuromark commented on #245
I will check later

[2016-10-25 17:01] sdustinh commented on #253
Definitely. I'll try to have this for you by the end of the day when I get some free time.

[2016-10-26 06:48] HavokInspiration commented on #253
Thanks @sdustinh.
Is your current setup (package version number) the same as the one from your original ticket ?

[2016-10-26 23:26] #245 closed

[2016-10-26 23:29] dereuromark commented on #246
Not sure if we shouldn't just go with the simple "reset" command for now, until more things come to mind it is better to keep things not too complicated.

[2016-10-27 13:59] theraccoonbear commented on #254
@HavokInspiration I haven't looked at this in a while and am currently on a different project at work, but I'll try to look into this in the next week or so if I can free up some time.

[2016-10-27 21:05] #254 closed

[2016-10-28 07:05] HavokInspiration commented on #254
@theraccoonbear When you test that again, can you try using `dev-master` ? I fixed the Postgres test build and what you are experiencing might have been fixed along the way (the test build had issues regarding wrong schema being queried).

[2016-10-28 22:24] HavokInspiration commented on #266
I opened PR #270 to propose a fix for this issue.

[2016-10-28 22:24] #266 closed

[2016-11-03 19:06] csga5000 opened #271 "Abstract method not implemented in CakeAdapter breaking migration create"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.3.7
* Migrations plugin version: 1.6.3
* Database server: MySQL
* PHP Version: 5.6.23
* Platform / OS: Ubuntu 14.04.5 LTS

### What you did
[code]

### Expected Behavior
[code]

### Actual Behavior
[code]

Also note:
I fixed this error and it seemed to work fine by adding:
[code]
To cakep

[2016-11-04 16:56] Xety opened #272 "Creating migration file always make the table name in plural"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.3.7
* Migrations plugin version: 1.6.3
* Bake plugin version (if relevant): 1.2.8
* Database server (MySQL, SQLite, Postgres): MySQL 5.7.16
* PHP Version: 7.0.12
* Platform / OS: Ubuntu 16.04

### What you did
When i create a migration file using `bin/cake bake migration CreateArticlesI18

[2016-11-04 17:05] dereuromark commented on #272
I agree no inflection should happen anymore here.

[2016-11-10 22:32] dmromanov opened #273 "Baking a migration_diff produces invalid constraint migrations"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: `v3.3.8`
* Migrations plugin version: `1.6.3`
* Bake plugin version (if relevant): `1.2.8`
* Database server (MySQL, SQLite, Postgres): `mysql  Ver 14.14 Distrib 5.7.16, for Linux (x86_64) using  EditLine wrapper`
* PHP Version: `PHP 7.0.8-3ubuntu3 (cli) ( NTS )`
* Platform / OS: Preferably

[2016-11-10 22:54] dmromanov opened #274 "Rolling back and applying migration leads to de-synchronization of the data structure"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: `v3.3.8`
* Migrations plugin version: `1.6.3`
* Bake plugin version (if relevant): `1.2.8`
* Database server (MySQL, SQLite, Postgres): `mysql  Ver 14.14 Distrib 5.7.16, for Linux (x86_64) using  EditLine wrapper`
* PHP Version: `PHP 7.0.8-3ubuntu3 (cli) ( NTS )`
* Platform / OS: Preferably

[2016-11-10 23:35] thinkingmedia commented on #274
Can you post what `Test2` code was generated.

[2016-11-11 08:55] dmromanov commented on #274
@thinkingmedia I've appended `Test2` migration to the issue's description.

[2016-11-11 14:16] thinkingmedia commented on #274
@dmromanov thanks. This does look like a bug.

I'll see if I can reproduce this and fix it.

[2016-11-17 17:02] davo3 commented on #238
I am having the same issue. cake v3.3.8, migrations v 1.6.3

[2016-11-17 21:09] thinkingmedia commented on #238
Closing as Phinx uses `identity` option to flag a column as auto increment.

[code]

Reference:

http://docs.phinx.org/en/latest/migrations.html#valid-column-options

[2016-11-17 21:09] #238 closed

[2016-11-18 15:04] dala00 opened #276 "Add 'after' column option to addColumn for migration_diff"
This is a
* [x] enhancement

* CakePHP Version: 3.3.8

I added codes for adding 'after' column option to addColumn method by migration_diff.
https://github.com/dala00/migrations/commit/e58655fc8e477ae60456de34d84021c697c0994d

I did for my job, but is it better to PR?

I'm concerned about
* If 'after' should not be added by default (need command option) ?
* 'after' is not added now because of some

[2016-11-23 16:58] markstory opened #277 "Is there possible to migrate many to many"
_From @levend18 on November 23, 2016 11:33_

This is a (multiple allowed):

* [ ] bug
* [ ] enhancement
* [x] feature-discussion (RFC)

I'm trying to use bin\cake bake migration CreateIsShowInstitutions user._ids:integer Institution._ids:integer
But this is not working.
Is this possible to work with like that. when i do that. This command create 2 tables automaticly and  works fine.

_Copied from

[2016-11-23 16:58] markstory commented on #277
I don't think migrations supports the behavior you're trying to achieve. You would have to create all 3 tables individually right now.

[2016-11-28 23:54] dereuromark opened #278 "Use default collation"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.4 dev (dev-3.next)
* Migrations plugin version: dev-master
* Database server (MySQL, SQLite, Postgres): MySQL 5.6
* PHP Version: 5.6

### What you did
utf8mb4_unicode_ci is the default database collation.
I have a migration file including new tables with a normal setup:

[code]

The datas

[2016-12-08 19:23] HavokInspiration commented on #276
Hi @dala00.
From the looks of it, this seems very good.
We will be very pleased if you could submit a PR with those changes. If all tests pass, I don't see any reason why it would not be merged.

Having `after` as default sounds good to me. I will help keep the migration in line with what the database really looks like.
There is not particular reasons why the `after` option was not added when the

[2016-12-08 20:33] HavokInspiration commented on #277
This is currently not possible and would require some work on the script that is parsing the fields list.

[2016-12-08 22:17] HavokInspiration commented on #273
Hi @dmromanov.
Thanks a lot for the detailed issue and the steps to reproduce it, that is really much appreciated.

I opened a PR (#280) to address the issue.

[2016-12-08 22:17] #273 closed

[2016-12-09 03:10] dala00 commented on #276
Hi @HavokInspiration.
Thank you for reply.

I sent PR #281

[2016-12-09 03:10] #276 closed

[2016-12-10 18:52] HavokInspiration commented on #272
PR #282 opened

[2016-12-10 18:52] #272 closed

[2016-12-13 08:44] dala00 opened #283 "All string, text columns are exported as diff by migration_diff"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.3.9
* Migrations plugin version: 1.6.3
* Database server (MySQL, SQLite, Postgres): 10.1.10-MariaDB
* PHP Version: 5.6.19
* Platform / OS: Windows 7 Enterprise

### What you did
Excuted this command without diff.
[code]

### Expected Behavior
Baked migration file has empty up, down functi

[2016-12-13 08:52] dala00 commented on #283
I thought that $changedAttributes should be used for condition.

[2016-12-13 10:01] HavokInspiration commented on #283
Yes, this is a known bug for 1.6.4.
PR #279 has been opened to take care of this problem, but I will close it in favor of another approach to fix it soon.

[2016-12-13 11:10] dala00 commented on #283
Oh, I see. thank you.

[2016-12-13 11:10] #283 closed

[2016-12-13 20:55] HavokInspiration commented on #252
I opened PR #284 to add an option that allows devs to skip the dump creation when deploying to avoid conflict if the dump file is commited. The option is available with the `migrate` and `rollback` migrations command as well as when baking a snapshot.

[2016-12-13 20:55] #252 closed

[2016-12-13 20:56] HavokInspiration commented on #256
PR #284 opened to implement this.

[2016-12-13 20:56] #256 closed

[2016-12-13 21:30] HavokInspiration commented on #253
Hi @sdustinh.
Any update on the migrations and seeds files of your setup ?

[2016-12-20 17:03] elboletaire commented on #257
:+1:

I've ended up here due to a crash in my migrations. I was trying to use `renameTable` which seems to be new in phinx 0.6.X

[2016-12-21 08:39] lorenzo commented on #257
I think the only thing preventing the migration is time. Maybe you would like to help?

[2016-12-21 09:59] elboletaire commented on #257
I'm sorry Lorenzo but if there's something I do not have is time x_D

I've an issue opened and I can open another related to nested errors, but if I've done nothing of that is due to the time.

Anyway, if I find some time you may find a PR from me.

[2016-12-27 16:26] flashios09 opened #286 "[Enhancement] Set any column that ends with `_at` to `datetime` default type"
* [ ] bug
* [x] enhancement
* [ ] feature-discussion (RFC)

If we don't specify the type for the `created`, `modified`, `updated` it will be `datetime`:

I think that using the `_at` suffix is more descriptive for datetime columns, `created_at`, `modified_at`, `deleted_at` ... instead of `created` ...

What about adding another condition to check that the column name ends with `_at` and set it aut

[2016-12-28 07:02] vipulpatel1994 opened #288 "Bug in migration_diff command"
Not working properly bin/cake bake migration_diff command it's added not changed column also.

[2016-12-30 21:07] HavokInspiration commented on #288
Hello and thanks for the report.
This issue was corrected with pull request #279 and will be included in an upcoming release.

[2016-12-30 21:07] #288 closed

[2016-12-30 22:01] flashios09 opened #289 "[Bug] Impossible to set `null` to true + trailing `?` when we specify the length param too within the bake migrate command"
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

### What i did
Tried this bake migration cmd:
[code]

### Expected Behavior
[code]

### Actual Behavior
[code]

### Fix
cakephp/migrations/src/Util/ColumnParser.php:
[code]

[2016-12-30 22:28] HavokInspiration commented on #289
PR  #290 opened

[2016-12-30 22:28] #289 closed

[2016-12-30 22:36] HavokInspiration commented on #257
I opened PR #291 which updates phinx to 0.6.5.

[2016-12-30 22:36] #257 closed

[2016-12-30 22:44] HavokInspiration commented on #278
The main concern I have is that it will generate migrations with a collation that is not "universal" between database vendor, making the migration "not universal".
But looking at phinx adapter classes, apparently only Mysql and SqlServer has support for collation on table creation.

Since we have our own Table class (extending the Table class from Phinx) we could very well fetch the collation from

[2016-12-30 22:45] HavokInspiration commented on #278
Well actually, no, if we get the encoding from the datasource configuration and inject it, there's nothing in the migrations, it will be hidden from the user. So there might not be a problem after all.

[2016-12-30 22:47] dereuromark commented on #278
Well, the problem is there, but it might not be an issue of the plugin, but the connection to the database itself, or the default setting inside the DB.
So maybe this issue is out of scope for the plugin to solve.

[2016-12-30 22:59] HavokInspiration commented on #278
No, it comes from the MySQL adapter of phinx which defined `utf8_general_ci` as default collation when creating a table (see [this link](https://github.com/robmorgan/phinx/blob/0.6.x-dev/src/Phinx/Db/Adapter/MysqlAdapter.php#L206-L209))

But when we create the table we can fetch the `encoding` from the datasource that is migrating the schema and inject it to the table object option in order to for

[2016-12-31 12:03] josegonzalez commented on #286
I would say we do both. I know at work we use `created_at` etc., but it's not a CakePHP app. However, that is a common pattern in other frameworks.

One thing you'd need to note is that by default, I don't think Bake supports these alternate names either, so you'd have to deal with adding the TimestampBehavior manually.

[2016-12-31 12:15] flashios09 commented on #286
@josegonzalez i know that the default are `created` and `modified` for the timestamp behavior so if i choose to use `created_at` and `modified_at` i have to update the config for each table manually(or extend the timestamp behavior)
i tried this `...  bake CreateTests created_at modified_at` and it works(default type to `datetime`) after changing this:
[code]
to this:
[code]

[2016-12-31 17:34] HavokInspiration commented on #286
I agree. This `_at` pattern in common enough to have it included in the plugin.

[2016-12-31 17:58] flashios09 commented on #286
@HavokInspiration I will create a PR now for this too

[2017-01-01 11:05] HavokInspiration commented on #286
PR #292 opened.

[2017-01-01 11:05] #286 closed

[2017-01-01 13:01] HavokInspiration commented on #251
Field ordering has been implements in PR #276 and released with version 1.6.5.

As for rename detection, in my opinion, using the comment column seems complicated as well. I have yet to think of a way to do it in a clean way.

[2017-01-01 13:08] HavokInspiration commented on #274
PR #293 opened to fix this issue.

[2017-01-01 13:08] #274 closed

[2017-01-02 21:41] HavokInspiration opened #294 "When rolling back the last migration, the dump file is not updated"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: Last
* Migrations plugin version: Last
* Bake plugin version (if relevant): Irrelevant
* Database server (MySQL, SQLite, Postgres): Irrelevant
* PHP Version: 5.6
* Platform / OS: Irrelevant

### What you did

Rollbacked all migrations. The dump file was not updated.

### Expected Behavior
W

[2017-01-03 21:11] HavokInspiration commented on #294
PR #296 opened

[2017-01-03 21:11] #294 closed

[2017-01-05 02:14] justinatack opened #297 "Seeds Failing in v1.6.6"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: v3.3.11.
* Migrations plugin version: v1.6.6.
* Bake plugin version (if relevant): v.3.3.11.
* Database server (MySQL): 5.7
* PHP Version: 7.1
* Platform / OS: MacOS Sierra running Laravel Homestead

### What you did
I ran
[code]
The above works fine in v1.6.5 but in v1.6.6 it fails.

### E

[2017-01-05 22:14] HavokInspiration commented on #297
Hi and thanks for the report @justinatack

PR #298 opened to fix the issue.

[2017-01-05 22:14] #297 closed

[2017-01-12 20:56] HavokInspiration commented on #271
Hi @csga5000.

I can not reproduce the issue.
This method was added to the adapter with commit https://github.com/cakephp/migrations/commit/aa9ec2a8fdf208c6677a938eb6c9ccb08f75cc6d and shipped with version `1.5.8`.

Are you sure you are using version 1.6.3 as you specified in your issue ?

[2017-01-12 22:17] HavokInspiration commented on #143
PR #299 opened.

[2017-01-12 22:17] #143 closed

[2017-01-12 22:18] HavokInspiration commented on #264
PR #299 opened.
The expected results is now to have all files in CamelBack formatting.

[2017-01-12 22:18] #264 closed

[2017-01-12 22:19] HavokInspiration commented on #265
PR #299 opened.
The expected result is now to have all files in CamelBack formatting.

[2017-01-12 22:19] #265 closed

[2017-01-14 00:06] HavokInspiration commented on #278
PR #302 opened to provide a fix.

[2017-01-14 00:06] #278 closed

[2017-01-15 17:56] HavokInspiration commented on #255
phinx version has been upgraded to 0.6.5 (which included support for the `varbinary` type) as of migrations 1.6.6.

[2017-01-15 17:56] #255 closed

[2017-01-17 22:46] csga5000 commented on #271
Here's the contents of my composer lock file:

[code]

I don't see any way to verify the version from the vendor/cakephp/migrations directory.

[2017-01-18 07:40] HavokInspiration commented on #271
That is very weird. If I check out the 1.6.3 tag repo, [the `getVersionLog` is implemented in `CakeAdapter`](https://github.com/cakephp/migrations/blob/1.6.3/src/CakeAdapter.php#L84-L92).

I'll try to run some tests by pinning to migrations 1.6.3.

In the meantime, can you try upgrading the versions of the plugin you are using with a `composer update` and try again ?

[2017-01-19 21:26] HavokInspiration commented on #271
I tried the `migrations create` command with migrations plugin v1.6.3 and the create executes without any error. I have doubts that you are really running the said version of the plugin, since the tagged version on the repo contains the line that seems to be missing in your version.

Can you try providing me the output of a `composer show -i | grep "migrations"` ?
Have you tried doing a `composer

[2017-01-20 00:56] csga5000 commented on #271
It's this.

But if I'm the only person experiencing this issue, I'm cool calling it a fluke, I got it to work (by adding that function or whatever).  And updating would probably fix it anyway aside from me hacking it fixed.
[code]

[2017-01-21 22:55] HavokInspiration commented on #271
Closing as there are no reasons for this to happen : version 1.6.3 of the plugin includes everything necessary to prevent the error reported.
@csga5000 If you ever find a way to reproduce this, do not hesitate to open a new ticket.

[2017-01-21 22:55] #271 closed

[2017-03-21 13:06] hiromi2424 opened #310 "bake migration_diff is broken for decimal field"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.4.3
* Migrations plugin version: 0.6.5
* Bake plugin version (if relevant): 1.3.1
* Database server (MySQL, SQLite, Postgres): MySQL 5.7.17-0ubuntu0.16.04.1
* PHP Version: 7.1.2-3+deb.sury.org~xenial+1
* Platform / OS: Ubuntu 16.04.2 LTS

### What you did
* modify `lng decimal(14, 10)` fi

[2017-03-21 13:12] hiromi2424 opened #311 "Generate geometry type"
This is a (multiple allowed):
* [x] bug
* [x] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.4.3
* Migrations plugin version: 0.6.5
* Bake plugin version (if relevant): 1.3.1
* Database server (MySQL, SQLite, Postgres): MySQL 5.7.17-0ubuntu0.16.04.1
* PHP Version: 7.1.2-3+deb.sury.org~xenial+1
* Platform / OS: Ubuntu 16.04.2 LTS

### What you did
* add `geo GEOMETRY` field with m

[2017-04-02 22:16] dereuromark commented on #310
I have similar issues with float and length(10,6) - trying to use the precision and scale options.
We should also clarify this more in the docs IMO.

[2017-04-02 22:22] dereuromark opened #314 "Clarify precision/scale"
I think we need to clarify the differences between Cake and Phinx, regarding the option keys precision, scale and limit.

The correct phinx migrations lines are:
[code]

In the fixtures it is, though:
[code]

precision/scale vs length/precision can be rather confusing IMO.

[2017-04-11 11:31] makallio85 opened #315 "schema-dump-*.lock file generated under wrong folder"
This is a (multiple allowed):
* [ ] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.4.4
* Migrations plugin version: 1.6.7
* Bake plugin version (if relevant): 1.3.3
* Database server (MySQL, SQLite, Postgres): 10.1.9-MariaDB - mariadb.org binary distribution
* PHP Version: 7.0.3
* Platform / OS: Windows 10

### What you did
`bin/cake migrations migrate -s MigrationsGene

[2017-06-01 21:33] sdustinh opened #316 "Phinx is very out of date"
Is there any intention to keep this plugin up to date with phinx releases? I went to use the `truncate()` method as defined in the phinx documentation and quickly found that it wasn't added until [0.7.1](https://github.com/robmorgan/phinx/releases/tag/v0.7.1) and that the current release is actually 0.8.0.

If the goal is to not keep phinx up to date are there any plans to make this plugin no long

[2017-06-02 00:07] josegonzalez commented on #316
@sdustinh we've thought about not pinning to specific phinx releases (or using a minimum version) but sadly they often break BC so there are fixes necessary to our plugin to ensure it continues to work properly.

Long-term, it's possible that we refactor this to not use phinx, but instead have something that implements as much of the phinx api as possible (so as not to break bc too much for develo

[2017-06-02 00:07] #316 closed

[2017-06-02 09:30] dereuromark commented on #314
Is there anyone with similar experience - and some more insight?
We could make a small note in the docs here to avoid other people to trip over the same thing.

[2017-06-02 17:23] ypnos-web commented on #197
I found that after this fix, my primary keys where correct in the snapshot (option `'signed' => false` is present), but my foreign keys weren't.

This led into an inconsistent snapshot that also failed to apply because of the foreign key being incompatible to the primary key of the other table.

[2017-06-03 13:33] markstory commented on #314
That is pretty confusing. We could start accepting `scale` in the fixtures. But changing the meaning of `precision` in either migrations or fixtures is going to be problematic.

[2017-06-06 19:28] markstory opened #317 "Raise exception when there are migrations yet to be run"
_From @aaronstillwell on June 6, 2017 17:46_

This is a (multiple allowed):

* [ ] bug
* [x] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.x
* Platform and Target: -

### What you did
Developing with co-worker, co-worker creates a migration, commits, I pull changes, forget to migrate / don't realise a migration has been added.

### What happened
Hitting errors as the development

[2017-06-06 19:28] markstory commented on #317
This could be done if the migrations plugin included middleware during debug mode.

[2017-06-07 06:54] HavokInspiration commented on #310
I think I stumbled upon this bug a while back and created a fix : https://github.com/cakephp/migrations/pull/295/files

However no release were done since I went silent which would explain why you are having this bug. I'll have to see if everything is working properly before doing a release. It might take some time though, I'm just getting back in the game.

[2017-06-07 06:55] HavokInspiration commented on #314
This is regular problem with phinx : some options are not named the same. The signed / unsigned features on numeric columns was also a problem. We implemented it as some DB engines do (with an `unsigned` option ; phinx did it the other way around, with a `signed` option.

Same thing goes for the `autoIncrement` feature. Phinx implements it with a `identity` named option.

This is what I did in the

[2017-06-07 06:57] HavokInspiration commented on #314
As for a note in the docs why not... It can't hurt much.

[2017-06-07 06:59] HavokInspiration commented on #317
@markstory That could be in the realm of possibility.

[2017-06-07 17:57] AndreLZGava opened #318 "Cake Migrations support References of tables Fathers and Childs"
This is a (multiple allowed):
* [ ] bug
* [ ] enhancement
* [x] feature-discussion (RFC)

* Bake plugin version: Cake migrations should support table references like Rails, this way would be very usefull. If this exists please document.

### Expected Behavior
When developer executs this command

cake bake migration CreateTableUser name:text category_id:references

This would create a migration, on

[2017-06-09 12:35] ravage84 commented on #317
@markstory  interesting idea, I like that.

[2017-06-13 13:16] aaronstillwell commented on #317
@markstory if you'd like to assign this issue to me I'll follow up with a PR in due course?

[2017-06-22 12:37] lilHermit commented on #316
Can we expect this to change now that phinx is a CakePHP project?

[2017-06-22 13:51] josegonzalez commented on #316
@lilHermit We are currently working on figuring out what the roadmap is for Phinx, though will hopefully be announcing something in this area soon :)

[2017-06-22 15:14] ravage84 commented on #316
@sdustinh I tried to upgrade it, see here https://github.com/cakephp/migrations/pull/307

[2017-06-22 17:21] sdustinh commented on #316
@ravage84 I saw. If only it were so simple. :frowning_face:

I'd really love to see Cake ditch Phinx all together and roll a migration package that leverages the framework and integrates like a plugin. If the obstacle is PRs, I'm happy to contribute to get us out of phinx.

[2017-06-22 17:49] lorenzo commented on #316
@sdustinh actually we have adopted phinx as a cakephp project. So expect a better integration in the future

[2017-06-22 18:10] ravage84 commented on #316
@sdustinh https://github.com/cakephp/phinx/pull/1119 😼

[2017-08-01 09:56] HavokInspiration commented on #310
This should be fixed as a new release has been made.

[2017-08-01 09:56] #310 closed

[2017-08-01 10:02] dereuromark commented on #176
Should we close this as order matters, and we usually advise to use specific commands here as list in the deployment scripts?

[2017-08-28 10:37] ricardograca opened #324 "Not picking up aliases defined in bootstrap.php"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

* CakePHP Version: 3.2.10.
* Migrations plugin version: Can't find that info anywhere. Probably whatever comes with CakePHP 3.2.10.
* Bake plugin version (if relevant): Same as above.
* Database server (MySQL, SQLite, Postgres): Postgresql 9.5.8
* PHP Version: 7.0.22-0ubuntu0.16.04.1
* Platform / OS: Ubuntu 1

[2017-08-28 11:20] AD7six commented on #324
May I ask why you are doing that - why is it necessary for a single install to have any awareness at all of other environments?

[2017-08-28 11:41] ricardograca commented on #324
Sure. The idea is to have different databases according to the environment. If I need to test different environments on the same machine, I can just use different databases for each which should prevent data loss and misleading results.

In any case I'm not even sure this would be possible with the current way the `ConfigurationTrait.php` file handles connections, but I'm just putting it out there

[2017-09-08 02:44] Avemaar commented on #69
Yesterday when i tried to upload to server enviroment i got this error too.
My projects works fine in localhost but after uploading to server.Checking the pages was okey,
the problem occurred after triing to inlog.
The infos i can get is the toggle vendor stack frames:
`
⟩ Cake\ORM\Table->addBehavior APP/Model/Table/UsersTable.php, line 40:
 $this->addBehavior('Acl.Acl', ['type' => 'requester']);

[2017-09-08 09:12] AD7six commented on #324
You are likely to (eventually) conclude that idea is not a good one @ricardograca :). Hopefully before the "I just dropped the production db by mistake" or equivalent error which everyone inevitably, makes. It's a subtle difference but I recommend to change your workflow so that the code is only aware of one environment; "the" environment. If you need to connect to a different environment _change

[2017-09-08 10:01] ricardograca commented on #324
It's how Rails works, which is what I thought CakePHP was based on, so my expectation was that migrations would work in a similar way to the Rails way, i.e. it picks up the environment from the `RAILS_ENV` variable and uses the correct database config according to that.

That would get tedious really fast, when I could just change the current environment name. With your proposal I would have to lo

[2017-10-09 15:14] sdustinh commented on #253
Sorry! I forgot about this completely. So the problem tracks down to a combination of the migrations plugin and one of my behaviors when **not** using the `rollback --no-lock` flag.

I had a behavior that uses `$table->hasField()` on the `initialize()` method. This was triggering the schema collection to `describe('table_name')` which was causing the `Cake\Database\Schema\Collection::_reflect()` m

[2017-10-10 13:40] ADmad opened #325 "Incorrect behavior when using "migration_diff" with "--plugin" option."
When using `migration_diff` with `--plugin` option is creates migrations for all tables in the db instead of just the tables for which Table class is present in the plugin. It would except it to only consider the tables of the plugin similar to how `migration_snapshot` does.

[2017-10-10 13:45] dereuromark commented on #325
The main problem is that without some table prefixing for plugins it will be rather difficult to detect "new tables" vs "existing but not plugin related". There will either be too many or too less shown then..

[2017-10-10 14:23] ADmad commented on #325
Can't `migration_diff` simply ignore tables for which it doesn't find a class file inside the plugin?

[2017-10-10 14:25] dereuromark commented on #325
For normal purposes I agree. But what if you want to add this new SQL table into your plugin? Then you would want this one to be not excluded.
I agree, however, that this case is more the edge case then yours.

[2017-10-11 15:04] HavokInspiration commented on #325
I remember doing that in the first version of the command : only including tables from the db which have a `Table` file in the plugin.
But for some reason, they were comments that asked me to remove this. I don't remember why exactly though.

[2017-10-11 16:43] ADmad commented on #325
Can't why people wouldn't want that behaviour since that's how snapshot works too. Anyway the behaviour could have been made configurable.

[2017-10-12 07:04] HavokInspiration commented on #325
It still can.

One would need to modify the `MigrationDiffTask::getCurrentSchema()` method to only filter the tables with a `Table` class existing in the plugin directory, if there is a specific parameter (some other methods have a `require-table` bool flag that enforce the need for `Table` classes to exist), using the `TableFinderTrait` for instance (which might need a bit of refactor to avoid co

[2017-10-12 22:58] dereuromark opened #327 "PHP Warning: fwrite(): 49 is not a valid stream resource"
With latest migrations release I always get
[code]
on top when an exception like this happens:
[code]

[2017-10-19 13:09] dereuromark opened #330 "Non set keys should not be altered"
This is a (multiple allowed):
* [x] bug
* [ ] enhancement
* [ ] feature-discussion (RFC)

Currently

[code]

Kills all other settings like
[code]

One always needs to check and add all those into every changeColumn, instead of just altering what is defined here in the migration file.
This leads to some really dangerous DB regressions.

[2017-10-19 13:14] inoas commented on #330
Huh that's unexpected. Sorry. Is there a way to merge?

[2017-10-19 13:51] HavokInspiration commented on #330
That's on phinx level if I'm not mistaken... From what I remember, those keys are always set when baking a diff for that very reason.

[2017-10-19 13:55] dereuromark commented on #330
Yeah but many do not alter the DB directly and "bake" it, but they write a migration file and want to make sure only those keys are altered.
But that way is completely broken this way :/
Any ideas here, like merging with current schema in the background?